block body
.hero#hero
	.slider-wrapper
		.slide
			.container
				.content-wrapper
					.inner.text-left
						span.overlines UX/UI Designer - HTML Coder
						h1 Hello, I’m Medad Tran Welcome to My World
						button.cta
							img(src="../assets/images/download.png", alt="")
							p Download My CV
.introduction#introduction
	.container
		.content-wrapper
			.img
				img(src="../assets/images/img_introduction.png", alt="")
			.info
				span.overlines Introduction
				h2 About me
				p.desc Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi convallis quis odio ut blandit. Phasellus sodales eu massa sit amet sollicitudin Cras fringilla, nisi a tempus posuere, mauris libero posuere ante, at vulputate massa massa
			.tab-wrapper
				.tab
					.tablinks.active(onclick="tabAbout(event, 'skill')") Skill
					.tablinks(onclick="tabAbout(event, 'experience')") Experience
					.tablinks(onclick="tabAbout(event, 'education')") Education
				.content
					#skill.tabcontent
						.skill
							p.lead UX/UI Designer
							p Wireframe, Prototyping, Mockup, Design System
							p UX/UI design in developing Web application for cross-browser
							p Figma/ Adobe XD/ Sketch/ Pts/ AI
						.skill
							p.lead HTML Coder
							p HTML/CSS, JavaScript client such as Jquery, JSON, AJAX
							p Responsive Cross-browser
							p Basic knowledge Angular/ Reactjs/ Vuejs
					#experience.tabcontent(style="display:none")
						h3 Paris
						p Paris is the capital of France.
					#education.tabcontent(style="display:none")
						h3 Tokyo
						p Tokyo is the capital of Japan.

.canDo
	.container
		.content-wrapper
			.section-title.text-center
				span.overlines Reality
				h2.title What I can do
				p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi convallis quis odio ut bland
			ul
				li
					.item-canDo
						.img
							img(src="../assets/images/img_cando1.png", alt="")
						h3 Lorem isum
						p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi convallis quis odio consectetur adipiscing elit. Morbi convallis quis odio
				li
					.item-canDo
						.img
							img(src="../assets/images/img_cando1.png", alt="")
						h3 Lorem isum
						p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi convallis quis odio consectetur adipiscing elit. Morbi convallis quis odio
				li
					.item-canDo
						.img
							img(src="../assets/images/img_cando1.png", alt="")
						h3 Lorem isum
						p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi convallis quis odio consectetur adipiscing elit. Morbi convallis quis odio
.lastestProject
	.container
		.content-wrapper
			.section-title.text-center
				.section-title.text-center
				span.overlines My completed project
				h2.title My Lastest Project
				p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi convallis quis odio ut bland
			ul
				li
					.item-project
						.img
							img(src="../assets/images/project1.png", alt="")
						.content
							.layer
							.info
								span.overlines UX/UI Design
								h3 ZALO HOME & CAR
				li
					.item-project
						.img
							img(src="../assets/images/project2.png", alt="")
						.content
							.layer
							.info
								span.overlines UX/UI Design
								h3 ZALO HOME & CAR
				li
					.item-project
						.img
							img(src="../assets/images/project3.png", alt="")
						.content
							.layer
							.info
								span.overlines UX/UI Design
								h3 ZALO HOME & CAR
.blog
	.container
		.content-wrapper
			.section-title.text-center
				span.overlines My completed project
				h2.title My Lastest Project
				p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi convallis quis odio ut bland
			ul
				li
					.item-blog
						.img
							img(src="../assets/images/project1.png", alt="")
						.content
							.layer
							.info
								span.overlines UX/UI Design
								h3 ZALO HOME & CAR
				li
					.item-blog
						.img
							img(src="../assets/images/project2.png", alt="")
						.content
							.layer
							.info
								span.overlines UX/UI Design
								h3 ZALO HOME & CAR
				li
					.item-blog
						.img
							img(src="../assets/images/project3.png", alt="")
						.content
							.layer
							.info
								span.overlines UX/UI Design
								h3 ZALO HOME & CAR
.contact
	.container
		.content-wrapper
			.pos-right
				.img
					img(src="../assets/images/img_contact.png", alt="")
			.pos-left
				.section-title
					span.overlines Contact
					h2.title Hire me
					ul
						li
							span Phone:
							<strong>(+84) 328 391 129</strong>
						li
							span Email:
							<strong>thanhlich250695@gmail.com</strong
				form.form
					input(type="text" placeholder="Your name")
					input(type="text" placeholder="Your Mail")
					input(type="text" placeholder="Your Phone number")
					textarea(type="text" placeholder="Your Message")
					button SUBMIT NOW