title=page

block meta
	meta(charset="utf-8")
	meta(http-equiv="X-UA-Compatible" content="IE=edge")
	meta(name="viewport" content=`${responsiveDevice}`)
	meta(name="description" content=`${description}`)
	meta(name="format-detection" content="telephone=no")
	meta(name="author" content="Lam Nguyen")
	meta(name="copyright" content="2018 Lam Nguyen")
	meta(name="robots" content="index, follow")
	meta(name="revisit-after" content="7 days")
	meta(property="og:url" content="")
	meta(property="og:title" content="")
	meta(property="og:image" content="")
	//link(rel="icon" type="image/ico" href="images/fav.ico")

//- Include css
block css
	link(href="css/layout.css" rel="stylesheet" type="text/css")
	
//- Include css
style.
