extends layout_lite.pug

//- Setting
block setting
	- var layout = true
	- var header = true
	- var footer = true
	- var navigate = true
	- var modal = true

block head
	include head.pug

block pages
	- bodyC.push("")
	- layoutClasses.push("admin-layout")
	- headerClasses.push("")
	- bodyClasses.push("main-content main-content-lite")
	- navigateClasses.push("sidebar-navigation")
	- footerClasses.push("")
	
//- Add Header
block header
	include page/header_lite.pug

//- Add Body
block body
	include page/_product_detail_lite.pug

//- Add Nav
block navigate
	include page/_navigate_lite.pug

//- Add Footer
block footer
	include page/footer.pug

//- Add Modal
block modal
	include page/modal_upload_image.pug

block javaScripts extend
	script.
		//- $(window).on('load', function () {
		//- 	$("#modal-login").modal("show");
		//- });
		