extends layout.pug

//- Setting
block setting
	- var layout = true
	- var dockbar = true
	- var modal = true
	- var swiperjs = true

block head
	include head.pug

block pages
	- bodyC.push("")
	- layoutClasses.push("zMarket-layout")
	- bodyClasses.push("page-content has-grey-background")
	- dockbarClasses.push("dockbar")
	
//- Add Body
block body
	include page/_home.pug

//- Add Footer
block dockbar
	include page/dockbar.pug

//- Add Modal
block modal
	include page/modal_banner_home.pug

block javaScripts extend
	script.
		var swiper = new Swiper('.swiper-hero', {
			slidesPerView: 1,
			spaceBetween: 0,
			autoplay: {
				delay: 3000,
			},
			pagination: {
				el: '#hero-pagination',
			},
		});
		$(window).on('load', function () {
			$("#modal-banner-home").modal("show");
		}); 
		//- demo active dockbar
		$(".context-dockbar li a").removeClass("active");
		$(".context-dockbar li:nth-child(1) a").addClass("active");
		window.onscroll = (value) => {
			let search_bar = document.getElementsByClassName('default-form-search')[0]
			if(value){
				if(window.scrollY <= 50){
					search_bar.classList.remove('is-scroll')
				} else {
					search_bar.classList.add('is-scroll')
				}
				
			}
		}
