extends layout.pug

//- Setting
block setting
	- var layout = true
	- var modal = false

block head
	include head.pug

block pages
	- bodyC.push("")
	- layoutClasses.push("zMarket-layout")
	- bodyClasses.push("page-content is-bg")
	- dockbarClasses.push("dockbar")
	
//- Add Body
block body
	include page/_product_detail_rating.pug

//- Add Footer
block dockbar
	//include page/dockbar.pug

//- Add Modal
block modal

block javaScripts extend
	script.