block home

.bl-module.module-empty.is-transparent
	img.m-bottom-5(src="images/img_404.jpg" alt=page)
	p.fs--l.fw-medium.text-center.m-bottom-5 Không thể tìm thấy trang này
	.text-center
		a.btn.btn-primary.btn--m(href="index.html") Về trang chủ
