block home

.bl-module.module-category
	a.item-banner.m-bottom-3.borderRadius--m(href="#!1" style="background-image:url(images/upload/GiftPop_710x284.jpg)")
	a.item-banner.m-bottom-3.borderRadius--m(href="#!2" style="background-image:url(images/upload/UrBox_710x284.jpg)")






