block home
.bl-module.module-listing
	.intro-guide(data-step="1" data-disable-interaction='true'  data-intro="Sử dụng <strong>Tìm kiếm</strong> hoặc <strong>Bộ lọc nhanh</strong> để tìm  tin đăng phù hợp") 
		.heading-listing.new-ver-2
			.search
				.form-group
					a.func-search(href="#!")
						i.icn.icn-search
					input(type="text" placeholder="Tìm kiếm trong Bất động sản")
			.group-filter
				.big-filter.func-new-full-filter
					i.icn.icn-bold-filter
					span.text Lọc
					.noti-dot-filter
						p 1
				ul.quick-filter
					//- li
					//- 	a.item-filter.func-open-quanhuyen(href='#!')
					//- 		span.text Vị trí <strong> Quận 7</strong>
					//- 		i.icn.icn-small-down
					li
						a.item-filter(href='#!')
							span.text Trong Bất động sản
							i.icn.icn-small-down
					li
						a.item-filter.func-open-category(href='#!')
							span.text Trong Bán
							i.icn.icn-small-down
					//- li
					//- 	a.item-filter.func-quick-filter(href='#!')
					//- 		span.text Sắp xếp <strong> Mới nhất</strong>
					//- 		i.icn.icn-small-down
					li
						a.item-filter.func-filter-price(href='#!')
							span.text Khoảng giá
							i.icn.icn-add-circle.is-plus
					li
						a.item-filter.func-filter-area(href='#!')
							span.text Diện tích
							i.icn.icn-add-circle.is-plus
					li
						a.item-filter.func-filter-rooms(href='#!')
							span.text Số phòng ngủ
							i.icn.icn-add-circle.is-plus
					li
						a.item-filter.func-filter-advance(href='#!')
							span.text Hướng
							i.icn.icn-add-circle.is-plus
					li
						a.item-filter.func-filter-policy-doc(href='#!')
							span.text Giấy tờ
							i.icn.icn-add-circle.is-plus
			.article-by-location
				i.icn.icn-pin
				p 50 tin đăng tại 
				span.func-open-quanhuyen(href="#!") Quận 7, TP Hồ Chí Minh
	.heading-offset-block
	.intro-guide(data-step="2" data-disable-interaction='true'  data-intro="Chọn danh mục chi tiết") 
		ul.category-list
			li
				a.item-category.new-cate(href="sell_buy_listing.html")
					span.img(style="background-image:url('images/RaoVat_icon_BDSBan.png')")
					span.title Bán BĐS
			li
				a.item-category.new-cate(href="#!")
					span.img(style="background-image:url('images/RaoVat_icon__BDS_Thue.png')")
					span.title Cho thuê
	.body-listing
		.module-product-seller
			//- .heading
			//- 	span.title Tin rao mới đăng
			.context-product-seller
				ul.product-seller-list
					li.is-premium.intro-guide(data-step="3" data-disable-interaction='true'  data-intro="Bấm vào tin đăng để xem thông tin chi tiết") 
						a.item-product-seller(href="#!")
							span.media
								span.count-img
									i.icn.icn-bold-img
									span.number 1
								span.img(style="background-image:url('images/img_product_seller.png')")
							span.content
								span.price 20,1 Tỷ
								img(src='./images/diamond.png')
								span.desc Căn hộ Green Star Nguyễn Lương Bằng Q.7 Giá 2,3 Tỷ
								ul.attr-list
									li 50m
										sup 2
									li Q.Bình Thạnh
									li Tp.HCM
					li.is-premium
						a.item-product-seller(href="#!")
							span.media
								span.count-img
									i.icn.icn-bold-img
									span.number 1
								span.img(style="background-image:url('images/img_product_seller.png')")
							span.content
								span.price 20,1 Tỷ
								img(src='./images/diamond.png')
								span.desc Căn hộ Green Star Nguyễn Lương Bằng Q.7 Giá 2,3 Tỷ
								ul.attr-list
									li 50m
										sup 2
									li Q.Bình Thạnh
									li Tp.HCM
					li.is-premium
						a.item-product-seller(href="#!")
							span.media
								span.count-img
									i.icn.icn-bold-img
									span.number 6
								span.img(style="background-image:url('images/img_product_seller.png')")
							span.content
								span.price 700 triệu
								img(src='./images/diamond.png')
								span.desc Căn hộ Green Star Nguyễn Lương Bằng Q.7 Giá 2,3 Tỷ
								ul.attr-list
									li 50m
										sup 2
									li Q.Bình Thạnh
									li Tp.HCM
					li.is-premium
						a.item-product-seller(href="#!")
							span.media
								span.count-img
									i.icn.icn-bold-img
									span.number 5
								span.img(style="background-image:url('images/img_product_seller.png')")
							span.content
								span.price 20,1 Tỷ
								img(src='./images/diamond.png')
								span.desc Căn hộ Green Star Nguyễn Lương Bằng Q.7 Giá 2,3 Tỷ
								ul.attr-list
									li 50m
										sup 2
									li Q.Bình Thạnh
									li Tp.HCM
					li.is-premium
						a.item-product-seller(href="#!")
							span.media
								span.count-img
									i.icn.icn-bold-img
									span.number 3
								span.img(style="background-image:url('images/img_product_seller.png')")
							span.content
								span.price 20,1 Tỷ
								span.desc Căn hộ Green Star Nguyễn Lương Bằng Q.7 Giá 2,3 Tỷ
								ul.attr-list
									li 50m
										sup 2
									li Q.Bình Thạnh
									li Tp.HCM
					li.is-premium
						a.item-product-seller(href="#!")
							span.media
								span.count-img
									i.icn.icn-bold-img
									span.number 1
								span.img(style="background-image:url('images/img_product_seller.png')")
							span.content
								span.price 20,1 Tỷ
								img(src='./images/diamond.png')
								span.desc Căn hộ Green Star Nguyễn Lương Bằng Q.7 Giá 2,3 Tỷ
								ul.attr-list
									li 50m
										sup 2
									li Q.Bình Thạnh
									li Tp.HCM
				.ads-banner.has-full-width-img.is-premium
					.img-post
						span.media
							span.img(style="background-image:url('images/img_ads_banner.png')")
						.block-top-container
							span.count-img
								i.icn.icn-bold-img
								span.number 1
							span.hightlight
								i.icn.icn-bold-billboard
								|NỔI BẬT
						.item-product-seller
							span.content
								span.price 3,000,000,000
								img(src='./images/diamond.png')
								span.desc Căn hộ Green Star Nguyễn Lương Bằng Q.7 Giá 2,3 Tỷ
								ul.attr-list
									li 50m
										sup 2
									li Q.Bình Thạnh
									li Tp.HCM
							button.is-primary.is-large Nhắn tin
				ul.product-seller-list
					li.is-medium
						a.item-product-seller(href="#!")
							span.media
								span.count-img
									i.icn.icn-bold-img
									span.number 1
								span.img(style="background-image:url('images/img_product_seller.png')")
							span.content
								span.price 20,1 Tỷ
								span.desc Căn hộ Green Star Nguyễn Lương Bằng Q.7 Giá 2,3 Tỷ
								ul.attr-list
									li 50m
										sup 2
									li Q.Bình Thạnh
									li Tp.HCM
					li.is-medium
						a.item-product-seller(href="#!")
							span.media
								span.count-img
									i.icn.icn-bold-img
									span.number 1
								span.img(style="background-image:url('images/img_product_seller.png')")
							span.content
								span.price 20,1 Tỷ
								span.desc Căn hộ Green Star Nguyễn Lương Bằng Q.7 Giá 2,3 Tỷ
								ul.attr-list
									li 50m
										sup 2
									li Q.Bình Thạnh
									li Tp.HCM
					li.is-medium
						a.item-product-seller(href="#!")
							span.media
								span.count-img
									i.icn.icn-bold-img
									span.number 6
								span.img(style="background-image:url('images/img_product_seller.png')")
							span.content
								span.price 700 triệu
								span.desc Căn hộ Green Star Nguyễn Lương Bằng Q.7 Giá 2,3 Tỷ
								ul.attr-list
									li 50m
										sup 2
									li Q.Bình Thạnh
									li Tp.HCM
					li.is-medium
						a.item-product-seller(href="#!")
							span.media
								span.count-img
									i.icn.icn-bold-img
									span.number 5
								span.img(style="background-image:url('images/img_product_seller.png')")
							span.content
								span.price 20,1 Tỷ
								span.desc Căn hộ Green Star Nguyễn Lương Bằng Q.7 Giá 2,3 Tỷ
								ul.attr-list
									li 50m
										sup 2
									li Q.Bình Thạnh
									li Tp.HCM
					li.is-medium
						a.item-product-seller(href="#!")
							span.media
								span.count-img
									i.icn.icn-bold-img
									span.number 3
								span.img(style="background-image:url('images/img_product_seller.png')")
							span.content
								span.price 20,1 Tỷ
								span.desc Căn hộ Green Star Nguyễn Lương Bằng Q.7 Giá 2,3 Tỷ
								ul.attr-list
									li 50m
										sup 2
									li Q.Bình Thạnh
									li Tp.HCM
					li.is-medium
						a.item-product-seller(href="#!")
							span.media
								span.count-img
									i.icn.icn-bold-img
									span.number 1
								span.img(style="background-image:url('images/img_product_seller.png')")
							span.content
								span.price 20,1 Tỷ
								span.desc Căn hộ Green Star Nguyễn Lương Bằng Q.7 Giá 2,3 Tỷ
								ul.attr-list
									li 50m
										sup 2
									li Q.Bình Thạnh
									li Tp.HCM
				.ads-banner.has-full-width-img.is-medium
					.img-post
						span.media
							span.img(style="background-image:url('images/img_ads_banner.png')")
						.block-top-container
							span.count-img
								i.icn.icn-bold-img
								span.number 1
							span.hightlight
								i.icn.icn-bold-billboard
								|NỔI BẬT
						.item-product-seller
							span.content
								span.price 3,000,000,000
								//- img(src='./images/diamond.png')
								span.desc Căn hộ Green Star Nguyễn Lương Bằng Q.7 Giá 2,3 Tỷ
								ul.attr-list
									li 50m
										sup 2
									li Q.Bình Thạnh
									li Tp.HCM
							button.is-primary.is-large Liên hệ
				ul.product-seller-list
					li
						a.item-product-seller(href="#!")
							span.media
								span.count-img
									i.icn.icn-bold-img
									span.number 1
								span.img(style="background-image:url('images/img_product_seller.png')")
							span.content
								span.price 20,1 Tỷ
								span.desc Căn hộ Green Star Nguyễn Lương Bằng Q.7 Giá 2,3 Tỷ
								ul.attr-list
									li 50m
										sup 2
									li Q.Bình Thạnh
									li Tp.HCM
					li
						a.item-product-seller(href="#!")
							span.media
								span.count-img
									i.icn.icn-bold-img
									span.number 1
								span.img(style="background-image:url('images/img_product_seller.png')")
							span.content
								span.price 20,1 Tỷ
								span.desc Căn hộ Green Star Nguyễn Lương Bằng Q.7 Giá 2,3 Tỷ
								ul.attr-list
									li 50m
										sup 2
									li Q.Bình Thạnh
									li Tp.HCM
					li
						a.item-product-seller(href="#!")
							span.media
								span.count-img
									i.icn.icn-bold-img
									span.number 6
								span.img(style="background-image:url('images/img_product_seller.png')")
							span.content
								span.price 700 triệu
								span.desc Căn hộ Green Star Nguyễn Lương Bằng Q.7 Giá 2,3 Tỷ
								ul.attr-list
									li 50m
										sup 2
									li Q.Bình Thạnh
									li Tp.HCM
					li
						a.item-product-seller(href="#!")
							span.media
								span.count-img
									i.icn.icn-bold-img
									span.number 5
								span.img(style="background-image:url('images/img_product_seller.png')")
							span.content
								span.price 20,1 Tỷ
								span.desc Căn hộ Green Star Nguyễn Lương Bằng Q.7 Giá 2,3 Tỷ
								ul.attr-list
									li 50m
										sup 2
									li Q.Bình Thạnh
									li Tp.HCM
					li
						a.item-product-seller(href="#!")
							span.media
								span.count-img
									i.icn.icn-bold-img
									span.number 3
								span.img(style="background-image:url('images/img_product_seller.png')")
							span.content
								span.price 20,1 Tỷ
								span.desc Căn hộ Green Star Nguyễn Lương Bằng Q.7 Giá 2,3 Tỷ
								ul.attr-list
									li 50m
										sup 2
									li Q.Bình Thạnh
									li Tp.HCM
					li
						a.item-product-seller(href="#!")
							span.media
								span.count-img
									i.icn.icn-bold-img
									span.number 1
								span.img(style="background-image:url('images/img_product_seller.png')")
							span.content
								span.price 20,1 Tỷ
								span.desc Căn hộ Green Star Nguyễn Lương Bằng Q.7 Giá 2,3 Tỷ
								ul.attr-list
									li 50m
										sup 2
									li Q.Bình Thạnh
									li Tp.HCM
				//- .ads-banner.has-full-width-img.is-medium
				//- 	.img-post
				//- 		span.media
				//- 			span.img(style="background-image:url('images/img_ads_banner.png')")
				//- 		.block-top-container
				//- 			span.count-img
				//- 				i.icn.icn-bold-img
				//- 				span.number 1
				//- 			span.hightlight
				//- 				i.icn.icn-bold-billboard
				//- 				|NỔI BẬT
				//- 		.item-product-seller
				//- 			span.content
				//- 				span.price 3,000,000,000
				//- 				img(src='./images/diamond.png')
				//- 				span.desc Căn hộ Green Star Nguyễn Lương Bằng Q.7 Giá 2,3 Tỷ
				//- 				ul.attr-list
				//- 					li 50m
				//- 						sup 2
				//- 					li Q.Bình Thạnh
				//- 					li Tp.HCM
				//- 			button.is-primary.is-large Liên hệ

				ul.product-seller-list
					li
						a.item-product-seller(href="#!")
							span.media
								span.count-img
									i.icn.icn-bold-img
									span.number 1
								span.img(style="background-image:url('images/img_product_seller.png')")
							span.content
								span.price 20,1 Tỷ
								span.desc Căn hộ Green Star Nguyễn Lương Bằng Q.7 Giá 2,3 Tỷ Căn hộ Green Star Nguyễn Lương Bằng Q.7 Giá 2,3 Tỷ Căn hộ Green Star Nguyễn Lương Bằng Q.7 Giá 2,3 Tỷ Căn hộ Green Star Nguyễn Lương Bằng Q.7 Giá 2,3 Tỷ
								ul.attr-list
									li 50m
										sup 2
									li Q.Bình Thạnh
									li Tp.HCM
					li
						a.item-product-seller(href="#!")
							span.media
								span.count-img
									i.icn.icn-bold-img
									span.number 1
								span.img(style="background-image:url('images/img_product_seller.png')")
							span.content
								span.price 20,1 Tỷ
								span.desc Căn hộ Green Star Nguyễn Lương Bằng Q.7 Giá 2,3 Tỷ
								ul.attr-list
									li 50m
										sup 2
									li Q.Bình Thạnh
									li Tp.HCM
					li
						a.item-product-seller(href="#!")
							span.media
								span.count-img
									i.icn.icn-bold-img
									span.number 6
								span.img(style="background-image:url('images/img_product_seller.png')")
							span.content
								span.price 700 triệu
								span.desc Căn hộ Green Star Nguyễn Lương Bằng Q.7 Giá 2,3 Tỷ
								ul.attr-list
									li 50m
										sup 2
									li Q.Bình Thạnh
									li Tp.HCM
					li
						a.item-product-seller(href="#!")
							span.media
								span.count-img
									i.icn.icn-bold-img
									span.number 5
								span.img(style="background-image:url('images/img_product_seller.png')")
							span.content
								span.price 20,1 Tỷ
								span.desc Căn hộ Green Star Nguyễn Lương Bằng Q.7 Giá 2,3 Tỷ
								ul.attr-list
									li 50m
										sup 2
									li Q.Bình Thạnh
									li Tp.HCM
					li
						a.item-product-seller(href="#!")
							span.media
								span.count-img
									i.icn.icn-bold-img
									span.number 3
								span.img(style="background-image:url('images/img_product_seller.png')")
							span.content
								span.price 20,1 Tỷ
								span.desc Căn hộ Green Star Nguyễn Lương Bằng Q.7 Giá 2,3 Tỷ
								ul.attr-list
									li 50m
										sup 2
									li Q.Bình Thạnh
									li Tp.HCM
					li
						a.item-product-seller(href="#!")
							span.media
								span.count-img
									i.icn.icn-bold-img
									span.number 1
								span.img(style="background-image:url('images/img_product_seller.png')")
							span.content
								span.price 20,1 Tỷ
								span.desc Căn hộ Green Star Nguyễn Lương Bằng Q.7 Giá 2,3 Tỷ
								ul.attr-list
									li 50m
										sup 2
									li Q.Bình Thạnh
									li Tp.HCM
		.module-product-seller.maybe-you-care
			.heading
				span.title Có thể bạn quan tâm
			.context-product-seller
				ul.product-seller-list
					li
						a.item-product-seller(href="#!")
							span.media
								span.count-img
									i.icn.icn-bold-img
									span.number 1
								span.img(style="background-image:url('images/img_product_seller.png')")
							span.content
								span.price 20,1 Tỷ
								img(src='./images/diamond.png')
								span.desc Căn hộ Green Star Nguyễn Lương Bằng Q.7 Giá 2,3 Tỷ
								ul.attr-list
									li 50m
										sup 2
									li Q.Bình Thạnh
									li Tp.HCM
					li
						a.item-product-seller(href="#!")
							span.media
								span.count-img
									i.icn.icn-bold-img
									span.number 1
								span.img(style="background-image:url('images/img_product_seller.png')")
							span.content
								span.price 20,1 Tỷ
								img(src='./images/diamond.png')
								span.desc Căn hộ Green Star Nguyễn Lương Bằng Q.7 Giá 2,3 Tỷ
								ul.attr-list
									li 50m
										sup 2
									li Q.Bình Thạnh
									li Tp.HCM
					li
						a.item-product-seller(href="#!")
							span.media
								span.count-img
									i.icn.icn-bold-img
									span.number 6
								span.img(style="background-image:url('images/img_product_seller.png')")
							span.content
								span.price 700 triệu
								img(src='./images/diamond.png')
								span.desc Căn hộ Green Star Nguyễn Lương Bằng Q.7 Giá 2,3 Tỷ
								ul.attr-list
									li 50m
										sup 2
									li Q.Bình Thạnh
									li Tp.HCM
					li
						a.item-product-seller(href="#!")
							span.media
								span.count-img
									i.icn.icn-bold-img
									span.number 5
								span.img(style="background-image:url('images/img_product_seller.png')")
							span.content
								span.price 20,1 Tỷ
								img(src='./images/diamond.png')
								span.desc Căn hộ Green Star Nguyễn Lương Bằng Q.7 Giá 2,3 Tỷ
								ul.attr-list
									li 50m
										sup 2
									li Q.Bình Thạnh
									li Tp.HCM
.dockbar
	.context-dockbar.homepage-shop.is-listing(data-step="4" data-disable-interaction='true'  data-intro="<strong>Đăng bán</strong> Bất động sản hoặc xe của bạn nhanh chóng dễ dàng" data-tooltipclass="forLastStep")
		ul
			li
				a(href="index.html")
					i.icn.icn-ue60-home
					span.text Trang chủ
			li
				a(href="create_sell_post.html")
					i.icn.icn-bold-circle-add
					span.text Đăng tin
			li
				a(href="profile.html")
					i.icn.icn-account
					span.text Tài khoản
			
	.trans-dockbar

//- popup
.bl-popup
	.popup-container.has-radius#popup-filter-category-ver2
		.bl-popup-heading
			span.fs--l.fw-medium Chọn danh mục
			a.func-close-popup(href="#!")
				i.icn.icn-small-remove
		.bl-popup-context
			.is-first 
				span.title Dạnh mục
				ul.radio-list
					li
						.input-group-radio
							input(id="opt-cate-all" name="option-cate" type="radio")
							label.fs--m(for="opt-cate-all") Tất cả
					li
						.input-group-radio
							input(id="opt-cate-bds" name="option-cate" type="radio")
							label.fs--m(for="opt-cate-bds") Bất động sản
					li
						.input-group-radio
							input(id="opt-cate-car" name="option-cate" type="radio")
							label.fs--m(for="opt-cate-car") Xe cộ
			.group-bds
				.blk-radio-choose.is-second
					span.title Hình thức
					ul.radio-list
						li
							.input-group-radio
								input(id="opt-bds-1" name="opt-bds-1" type="radio")
								label.fs--m(for="opt-bds-1") Tất cả
						li
							.input-group-radio
								input(id="opt-bds-2" name="opt-bds-1" type="radio")
								label.fs--m(for="opt-bds-2") Cho thuê
						li
							.input-group-radio
								input(id="opt-bds-3" name="opt-bds-1" type="radio")
								label.fs--m(for="opt-bds-3") Bán
				.blk-radio-choose.is-third.final-step 
					span.title Loại hình bất động sản
					ul.radio-list
						li
							.input-group-radio
								input(id="opt-bds-4" name="opt-bds-2" type="radio")
								label.fs--m(for="opt-bds-4") Tất cả
						li
							.input-group-radio
								input(id="opt-bds-5" name="opt-bds-2" type="radio")
								label.fs--m(for="opt-bds-5") Chung cư
						li
							.input-group-radio
								input(id="opt-bds-6" name="opt-bds-2" type="radio")
								label.fs--m(for="opt-bds-6") Nhà
				.blk-radio-choose.is-fourth.final-step
					span.title Loại hình xe cộ
					ul.radio-list
						li
							.input-group-radio
								input(id="opt-car-4" name="opt-car-2" type="radio")
								label.fs--m(for="opt-car-4") Tất cả
						li
							.input-group-radio
								input(id="opt-car-5" name="opt-car-2" type="radio")
								label.fs--m(for="opt-car-5") item 1
						li
							.input-group-radio
								input(id="opt-car-6" name="opt-car-2" type="radio")
								label.fs--m(for="opt-car-6") item 2

				
			.dockbar-temp-footer
		.bl-popup-footer
			.button-dockbar
				a.btn.w-100(href="#!") Áp dụng bộ lọc

	.popup-container.has-radius#popup-filter-policy-doc
		.bl-popup-heading
			span.fs--l.fw-medium Chọn số giấy tờ
			a.func-close-popup(href="#!")
				i.icn.icn-small-remove
		.bl-popup-context
			.group-filter-policy
				span.title Giấy tờ pháp lý
				ul.radio-list
					li
						.input-group-radio
							input(id="policy-1" name="choose-policy" type="radio")
							label.fs--m(for="policy-1") 1
					li
						.input-group-radio
							input(id="policy-2" name="choose-policy" type="radio")
							label.fs--m(for="policy-2") 2
					li
						.input-group-radio
							input(id="policy-3" name="choose-policy" type="radio")
							label.fs--m(for="policy-3") 3
					li
						.input-group-radio
							input(id="policy-4" name="choose-policy" type="radio")
							label.fs--m(for="policy-4") 4+
			.dockbar-temp-footer
		.bl-popup-footer
			.button-dockbar
				a.btn.w-100(href="#!") Áp dụng bộ lọc

	.popup-container.has-radius#popup-filter-rooms
		.bl-popup-heading
			span.fs--l.fw-medium Chọn số phòng
			a.func-close-popup(href="#!")
				i.icn.icn-small-remove
		.bl-popup-context
			.group-filter-rooms
				span.title Số phòng ngủ
				ul.radio-list
					li
						.input-group-radio
							input(id="room-1" name="choose-rooms" type="radio")
							label.fs--m(for="room-1") 1
					li
						.input-group-radio
							input(id="room-2" name="choose-rooms" type="radio")
							label.fs--m(for="room-2") 2
					li
						.input-group-radio
							input(id="room-3" name="choose-rooms" type="radio")
							label.fs--m(for="room-3") 3
					li
						.input-group-radio
							input(id="room-4" name="choose-rooms" type="radio")
							label.fs--m(for="room-4") 4+

	.popup-container.has-radius#popup-filter-price
		.bl-popup-heading
			span.fs--l.fw-medium Chọn khoảng giá
			a.func-close-popup(href="#!")
				i.icn.icn-small-remove
		.bl-popup-context.slider-2toogle 
			span.title Giá
			#slider-range 
			.slider-number
				.min 
					span#min 
					| đ
				.max 
					span#max 
					| đ 

			.dockbar-temp-footer
		.bl-popup-footer
			.button-dockbar
				a.btn.w-100(href="#!") Áp dụng bộ lọc

	.popup-container.has-radius#popup-filter-area
		.bl-popup-heading
			span.fs--l.fw-medium Chọn diện tích
			a.func-close-popup(href="#!")
				i.icn.icn-small-remove
		.bl-popup-context.slider-2toogle 
			span.title Diện tích
			#slider-range-area 
			.slider-number
				.min-area 
					span#min-area 
					| m<em>2</em> 
				.max-area 
					span#max-area 
					| m<em>2</em> 

			.dockbar-temp-footer
		.bl-popup-footer
			.button-dockbar
				a.btn.w-100(href="#!") Áp dụng bộ lọc

	.popup-container.has-radius#popup-filter-category
		.bl-popup-heading
			span.fs--l.fw-medium Chọn danh mục
			a.func-close-popup(href="#!")
				i.icn.icn-small-remove
			a.func-reset(href="#!")
				span Làm mới
		.bl-popup-context
			.group-filter-category.is-first
				span.title Bất động sản
				.wrapper
					ul.radio-list.default-form
						li
							.input-group-radio
								input(id="opt1-1" name="option2-1" type="radio")
								label.fs--m(for="opt1-1") Tất cả BĐS
						li
							.input-group-radio
								input(id="opt1-2" name="option2-1" type="radio")
								label.fs--m(for="opt1-2") Bán BĐS
						li
							.input-group-radio
								input(id="opt1-3" name="option2-1" type="radio")
								label.fs--m(for="opt1-3") Bán BĐS
				.wrapperSecond
					span.title-second
					ul.radio-list.list-fisrt.default-form
						li
							.input-group-radio
								input(id="opt2-1" name="option2-2" type="radio")
								label.fs--m(for="opt2-1") Tất cả Bán BĐS
						li
							.input-group-radio
								input(id="opt2-2" name="option2-2" type="radio")
								label.fs--m(for="opt2-2") Chung cư, căn hộ
						li
							.input-group-radio
								input(id="opt2-3" name="option2-2" type="radio")
								label.fs--m(for="opt2-3") Nhà riêng
						li
							.input-group-radio
								input(id="opt2-4" name="option2-2" type="radio")
								label.fs--m(for="opt2-4") Đất nền
						li
							.input-group-radio
								input(id="opt2-5" name="option2-2" type="radio")
								label.fs--m(for="opt2-5") Văn phòng
						li
							.input-group-radio
								input(id="opt2-6" name="option2-2" type="radio")
								label.fs--m(for="opt2-6") BĐS khác
			.group-filter-category.is-second
				span.title Xe hơi
				.wrapper
					ul.radio-list.default-form
						li
							.input-group-radio
								input(id="opt3-1" name="option3-2" type="radio")
								label.fs--m(for="opt3-1") Tất cả xe
						li
							.input-group-radio
								input(id="opt3-2" name="option3-2" type="radio")
								label.fs--m(for="opt3-2") Bán xe
			.dockbar-temp-footer
		.bl-popup-footer
			.button-dockbar
				a.btn.w-100(href="#!") Áp dụng bộ lọc
		
	.popup-container.has-radius#popup-filter-advance
		.bl-popup-heading
			span.fs--l.fw-medium Áp dụng bộ lọc
			a.func-close-popup(href="#!")
				i.icn.icn-small-remove
			a.func-reset(href="#!")
				span Làm mới
		.bl-popup-context
			.group-filter-category
				span.title.is-active Tìm tại 
				.content-wrapper 
					.item.select-location
						span Chọn Thành phố/Tỉnh thành
						i.icn.icn-small-down
					.item.select-location
						span Chọn Quận/Huyện
						i.icn.icn-small-down
			.group-filter-category
				span.title.is-active Hình thức
				.content-wrapper 
					.item
						span Chọn hình thức
						i.icn.icn-small-down
			.group-filter-category
				span.title.is-active Khoảng giá
				.content-wrapper 
					.item
						span Chọn khoảng giá
						i.icn.icn-small-down
			.group-filter-category
				span.title.is-active Diện tích
				.content-wrapper 
					.item
						span Chọn diện tích
						i.icn.icn-small-down
			.group-filter-category
				span.title.is-active Số phòng ngủ
				.wrapper
					ul.radio-list.default-form
						li
							.input-group-radio
								input(id="ppp-1" name="pppo" type="radio")
								label.fs--m(for="ppp-1") 1 phòng
						li
							.input-group-radio
								input(id="ppp-2" name="pppo" type="radio")
								label.fs--m(for="ppp-2") 2 phòng
						li
							.input-group-radio
								input(id="ppp-3" name="pppo" type="radio")
								label.fs--m(for="ppp-3") 3 phòng
			.dockbar-temp-footer
		.bl-popup-footer
			.button-dockbar
				a.btn.w-100(href="#!") Áp dụng bộ lọc
		
	.popup-container.has-radius#popup-quick-filter
		.bl-popup-heading
			span.fw-medium nameFilter
			a.func-close-popup(href="#!")
				i.icn.icn-small-remove
		.bl-popup-context
			//- ul.select-list
			//- 	li
			//- 		.item
			//- 			span Value 1
			//- 			.toggle
			//- 				i.icn.icn-small-right
			//- 	li
			//- 		.item
			//- 			span Value 2
			//- 			.toggle
			//- 				i.icn.icn-small-right
			.default-form
				.form-row
					.checkbox-list.w-100
						ul
							li
								.input-group
									input(id="optiona-all" name="optiona1" type="radio")
									label(for="optiona-all") Tất cả
								.input-group
									input(id="optiona111111" name="optiona1" type="radio")
									label(for="optiona111111") Item1
								.input-group
									input(id="optiona111112" name="optiona1" type="radio")
									label(for="optiona111112") Item2
								.input-group
									input(id="optiona111113" name="optiona1" type="radio")
									label(for="optiona111113") Item3
								.input-group
									input(id="optiona111114" name="optiona1" type="radio")
									label(for="optiona111114") Item 4
								.input-group
									input(id="optiona111115" name="optiona1" type="radio")
									label(for="optiona111115") Item5
								.input-group
									input(id="optiona111116" name="optiona1" type="radio")
									label(for="optiona111116") Item6
								.input-group
									input(id="optiona111117" name="optiona1" type="radio")
									label(for="optiona111117") Item7
								.input-group
									input(id="optiona111111" name="optiona1" type="radio")
									label(for="optiona111111") Item8
								.input-group
									input(id="optiona111112" name="optiona1" type="radio")
									label(for="optiona111112") Item9
								.input-group
									input(id="optiona111113" name="optiona1" type="radio")
									label(for="optiona111113") Item10
								.input-group
									input(id="optiona111114" name="optiona1" type="radio")
									label(for="optiona111114") Item11
								.input-group
									input(id="optiona111115" name="optiona1" type="radio")
									label(for="optiona111115") Item12
								.input-group
									input(id="optiona111116" name="optiona1" type="radio")
									label(for="optiona111116") Item13
								.input-group
									input(id="optiona111117" name="optiona1" type="radio")
									label(for="optiona111117") Item14
		//- 	.dockbar-temp-footer
		//- .bl-popup-footer
		//- 	.button-dockbar
		//- 		a.btn.w-100(href="#!") Bộ lọc
		
	.popup-container.has-radius#popup-quanhuyen
		.bl-popup-heading
			span.fw-medium Chọn Tỉnh, thành phố
			a.func-close-popup(href="#!")
				i.icn.icn-small-remove
		.bl-popup-context
			ul.select-list
				li
					.item
						span Toàn quốc
				li
					.item.select-location
						span Thành Phố Hồ Chí Minh
						.toggle
							i.icn.icn-small-right
				li
					.item.select-location
						span Hà Nội
						.toggle
							i.icn.icn-small-right
				li
					.item.select-location.func-seemore
						span Quảng Ngãi
						.toggle
							i.icn.icn-small-right
				li
					.item.select-location
						span Đà Nẵng
						.toggle
							i.icn.icn-small-right
				li
					.item.select-location
						span Cần Thơ
						.toggle
							i.icn.icn-small-right
				li
					.item.select-location
						span Bình Dương
						.toggle
							i.icn.icn-small-right
				li
					.item.select-location
						span Bà Rịa - Vũng Tàu
						.toggle
							i.icn.icn-small-right
				li
					.item.select-location
						span Đồng Nai
						.toggle
							i.icn.icn-small-right
				li
					.item.select-location
						span Bình Thuận
						.toggle
							i.icn.icn-small-right
				li
					.item.select-location
						span Lâm Đồng
						.toggle
							i.icn.icn-small-right
				li
					.item.select-location
						span Vĩnh Phúc
						.toggle
							i.icn.icn-small-right
				li
					.item.select-location
						span Hải Phòng
						.toggle
							i.icn.icn-small-right
			
	.popup-container.has-radius#popup-quanhuyen-full
		.bl-popup-heading
			span.fw-medium Chọn Tỉnh, thành phố
			a.func-close-popup(href="#!")
				i.icn.icn-small-remove
		.bl-popup-context
			ul.select-list
				li
					.item
						span Toàn quốc
				li
					.item.select-location
						span Thành Phố Hồ Chí Minh
						.toggle
							i.icn.icn-small-right
				li
					.item.select-location
						span Hà Nội
						.toggle
							i.icn.icn-small-right
				li
					.item.select-location.func-seemore
						span Quảng Ngãi
						.toggle
							i.icn.icn-small-right
				li
					.item.select-location
						span Đà Nẵng
						.toggle
							i.icn.icn-small-right
				li
					.item.select-location
						span Cần Thơ
						.toggle
							i.icn.icn-small-right
				li
					.item.select-location
						span Bình Dương
						.toggle
							i.icn.icn-small-right
				li
					.item.select-location
						span Bà Rịa - Vũng Tàu
						.toggle
							i.icn.icn-small-right
				li
					.item.select-location
						span Đồng Nai
						.toggle
							i.icn.icn-small-right
				li
					.item.select-location
						span Bình Thuận
						.toggle
							i.icn.icn-small-right
				li
					.item.select-location
						span Lâm Đồng
						.toggle
							i.icn.icn-small-right
				li
					.item.select-location
						span Vĩnh Phúc
						.toggle
							i.icn.icn-small-right
				li
					.item.select-location
						span Hải Phòng
						.toggle
							i.icn.icn-small-right

	.popup-container.has-radius#popup-full-filter-new 
		.bl-popup-heading
			span.fs--l.fw-medium Chọn số giấy tờ
			a.func-close-popup(href="#!")
				i.icn.icn-small-remove
			a.func-reset(href="#!")
				span Làm mới
		.bl-popup-context
			.group-filter-category
				span.title Khu vực
				.open-popup-quanhuyen
					span Quận 2, Thành Phố Hồ Chí Minh
					i.icn.icn-small-right
			.group-filter-category
				.is-first 
					span.title Dạnh mục
					ul.radio-list
						li
							.input-group-radio
								input(id="full-opt-cate-all" name="full-option-cate" type="radio")
								label.fs--m(for="full-opt-cate-all") Tất cả
						li
							.input-group-radio
								input(id="full-opt-cate-bds" name="full-option-cate" type="radio")
								label.fs--m(for="full-opt-cate-bds") Bất động sản
						li
							.input-group-radio
								input(id="full-opt-cate-car" name="full-option-cate" type="radio")
								label.fs--m(for="full-opt-cate-car") Xe cộ
				.group-bds-full
					.blk-radio-choose.is-second
						span.title Hình thức
						ul.radio-list
							li
								.input-group-radio
									input(id="full-opt-bds-1" name="full-opt-bds-1" type="radio")
									label.fs--m(for="full-opt-bds-1") Tất cả
							li
								.input-group-radio
									input(id="full-opt-bds-2" name="full-opt-bds-1" type="radio")
									label.fs--m(for="full-opt-bds-2") Cho thuê
							li
								.input-group-radio
									input(id="full-opt-bds-3" name="full-opt-bds-1" type="radio")
									label.fs--m(for="full-opt-bds-3") Bán
					.blk-radio-choose.is-third.final-step 
						span.title Loại hình bất động sản
						ul.radio-list
							li
								.input-group-radio
									input(id="full-opt-bds-4" name="full-opt-bds-2" type="radio")
									label.fs--m(for="full-opt-bds-4") Tất cả
							li
								.input-group-radio
									input(id="full-opt-bds-5" name="full-opt-bds-2" type="radio")
									label.fs--m(for="full-opt-bds-5") Chung cư
							li
								.input-group-radio
									input(id="full-opt-bds-6" name="full-opt-bds-2" type="radio")
									label.fs--m(for="full-opt-bds-6") Nhà
					.blk-radio-choose.is-fourth.final-step
						span.title Loại hình xe cộ
						ul.radio-list
							li
								.input-group-radio
									input(id="full-opt-car-4" name="full-opt-car-2" type="radio")
									label.fs--m(for="full-opt-car-4") Tất cả
							li
								.input-group-radio
									input(id="full-opt-car-5" name="full-opt-car-2" type="radio")
									label.fs--m(for="full-opt-car-5") item 1
							li
								.input-group-radio
									input(id="full-opt-car-6" name="full-opt-car-2" type="radio")
									label.fs--m(for="full-opt-car-6") item 2
			.group-filter-category.slider-2toogle 
				span.title Giá
				#full-slider-range 
				.slider-number
					.min 
						span#full-min 
						| đ
					.max 
						span#full-max 
						| đ 
			.group-filter-category.slider-2toogle
				span.title Diện tích
				#full-slider-range-area 
				.slider-number
					.min-area 
						span#full-min-area 
						| m<em>2</em> 
					.max-area 
						span#full-max-area 
						| m<em>2</em> 
			.group-filter-category
				span.title Số phòng ngủ
				ul.radio-list
					li
						.input-group-radio
							input(id="full-room-1" name="full-choose-rooms" type="radio")
							label.fs--m(for="full-room-1") 1
					li
						.input-group-radio
							input(id="full-room-2" name="full-choose-rooms" type="radio")
							label.fs--m(for="full-room-2") 2
					li
						.input-group-radio
							input(id="full-room-3" name="full-choose-rooms" type="radio")
							label.fs--m(for="full-room-3") 3
					li
						.input-group-radio
							input(id="full-room-4" name="full-choose-rooms" type="radio")
							label.fs--m(for="full-room-4") 4+
			.group-filter-category
				span.title Tình trạng nội thất
				ul.radio-list
					li
						.input-group-radio
							input(id="full-room-condition-1" name="full-condition-choose-rooms" type="radio")
							label.fs--m(for="full-room-condition-1") Cao cấp
					li
						.input-group-radio
							input(id="full-room-condition-2" name="full-condition-choose-rooms" type="radio")
							label.fs--m(for="full-room-condition-2") Cơ bản
					li
						.input-group-radio
							input(id="full-room-condition-3" name="full-condition-choose-rooms" type="radio")
							label.fs--m(for="full-room-condition-3") Không

			.group-filter-category.no-border
				span.title Giấy tờ pháp lý
				ul.radio-list
					li
						.input-group-radio
							input(id="policy-doc-1" name="policy-docs" type="radio")
							label.fs--m(for="policy-doc-1") Đã có sổ
					li
						.input-group-radio
							input(id="policy-doc-2" name="policy-docs" type="radio")
							label.fs--m(for="policy-doc-2") Đang chờ sổ
					li
						.input-group-radio
							input(id="policy-doc-3" name="policy-docs" type="radio")
							label.fs--m(for="policy-doc-3") Khác
			.dockbar-temp-footer
		.bl-popup-footer
			.button-dockbar
				.checkbox
					input(type="checkbox" name="remember-option" id="check-remember")
					label(for="check-remember") Lưu lại bộ lọc cho lần sau vào Home & Car
				a.btn.w-100(href="#!") Khám phá ngay

.bl-slide#slide-select-location
	.slide-container
		.bl-slide-heading
			span.fw-medium Chọn Tỉnh, thành phố
			a.func-close-slide(href="#!")
				i.icn.icn-small-left
			
		.bl-slide-context
			ul.select-list
				li
					.item
						span Toàn quốc
				li
					.item.select-location
						span Thành Phố Hồ Chí Minh
						.toggle
							i.icn.icn-small-right
				li
					.item.select-location
						span Hà Nội
						.toggle
							i.icn.icn-small-right
				li
					.item.select-location.func-seemore
						span Quảng Ngãi
						.toggle
							i.icn.icn-small-right
				li
					.item.select-location
						span Đà Nẵng
						.toggle
							i.icn.icn-small-right
				li
					.item.select-location
						span Cần Thơ
						.toggle
							i.icn.icn-small-right
				li
					.item.select-location
						span Bình Dương
						.toggle
							i.icn.icn-small-right
				li
					.item.select-location
						span Bà Rịa - Vũng Tàu
						.toggle
							i.icn.icn-small-right
				li
					.item.select-location
						span Đồng Nai
						.toggle
							i.icn.icn-small-right
				li
					.item.select-location
						span Bình Thuận
						.toggle
							i.icn.icn-small-right
				li
					.item.select-location
						span Lâm Đồng
						.toggle
							i.icn.icn-small-right
				li
					.item.select-location
						span Vĩnh Phúc
						.toggle
							i.icn.icn-small-right
				li
					.item.select-location
						span Hải Phòng
						.toggle
							i.icn.icn-small-right
				li
					.item.select-location
						span Hải Phòng
						.toggle
							i.icn.icn-small-right
				li
					.item.select-location
						span Hải Phòng
						.toggle
							i.icn.icn-small-right
.bl-slide#slide-filter-full
	.slide-container
		.bl-slide-heading
			span.fw-medium Chọn quận, huyện
			a.func-close-slide(href="#!")
				i.icn.icn-small-left
		.bl-slide-context
			.default-form
				.form-row
					.checkbox-list.w-100
						ul
							li
								.input-group
									input(id="optiona1111111" name="optiona1" type="radio")
									label(for="optiona1111111") Tất cả
							li
								.input-group
									input(id="optiona2222222" name="optiona2" type="radio")
									label(for="optiona2222222") Tp. Bà Rịa
							li
								.input-group
									input(id="optiona33333333" name="optiona2" type="radio")
									label(for="optiona33333333") Tp. Vũng Tàu
							li
								.input-group
									input(id="optiona4444444" name="optiona2" type="radio")
									label(for="optiona4444444") Huyện Châu Đức
							li
								.input-group
									input(id="optiona5555555" name="optiona2" type="radio")
									label(for="optiona5555555") Huyện Đất Đỏ
							li
								.input-group
									input(id="optiona6666666" name="optiona2" type="radio")
									label(for="optiona6666666") Huyện Long Điền
							li
								.input-group
									input(id="optiona7777777" name="optiona2" type="radio")
									label(for="optiona7777777") Thị Xã Phú Mỹ
							li
								.input-group
									input(id="optiona8888888" name="optiona2" type="radio")
									label(for="optiona8888888") Huyện Xuyên Mộc

.bl-slide#slide-filter
	.slide-container
		.bl-slide-heading
			span.fw-medium Chọn quận, huyện, thị xã
			a.func-close-slide(href="#!")
				i.icn.icn-small-left
		.bl-slide-context
			.default-form
				.form-row
					.checkbox-list.w-100
						ul
							li
								.input-group
									input(id="optiona1111111" name="optiona1" type="radio")
									label(for="optiona1111111") Tất cả
							li
								.input-group
									input(id="optiona2222222" name="optiona2" type="radio")
									label(for="optiona2222222") Tp. Bà Rịa
							li
								.input-group
									input(id="optiona33333333" name="optiona2" type="radio")
									label(for="optiona33333333") Tp. Vũng Tàu
							li
								.input-group
									input(id="optiona4444444" name="optiona2" type="radio")
									label(for="optiona4444444") Huyện Châu Đức
							li
								.input-group
									input(id="optiona5555555" name="optiona2" type="radio")
									label(for="optiona5555555") Huyện Đất Đỏ
							li
								.input-group
									input(id="optiona6666666" name="optiona2" type="radio")
									label(for="optiona6666666") Huyện Long Điền
							li
								.input-group
									input(id="optiona7777777" name="optiona2" type="radio")
									label(for="optiona7777777") Thị Xã Phú Mỹ
							li
								.input-group
									input(id="optiona8888888" name="optiona2" type="radio")
									label(for="optiona8888888") Huyện Xuyên Mộc