block home

.feature-dockbar
	.context-feature-dockbar
		nav.breadcrumb
			ol
				li.breadcrumb-item
					a(href="index.html")
						i.icn.icn-home
				li.breadcrumb-item.active(aria-current="page")
					a(href="javascript:void(0);")
						span Cửa hàng chính hãng
		a.func-search(href="search.html")
			i.icn.icn-search
		a.func-cart(href="cart.html")
			i.icn.icn-shopping-cart
			span.num 1
		a.func-share(href="#!share")
			i.icn.icn-share
	.trans-feature-dockbar

.bl-module.module-grid-list.m-bottom-2.m-top-2
	.heading.justify-content-start
		a.title-wrap(href="#!")
			.avatar.avatar--s.m-right-3
				.avatar-img(style="background-image:url(http://via.placeholder.com/240x240)")
			span.fs--l.fw-medium.text-truncate Shop name
		.func-wrap
			a.func-follow(href="javascript:void(0);" data-toggle="modal" data-target="#modal-follow") <i class="icn icn-bold-add"></i><span class="color-base fs--s">Theo dõi</span>
	.brand-container
		a.banner-main(style="background-image:url(http://via.placeholder.com/500x500)" href="product_detail.html")
			.label-price
				span.color-light.fs--m.fw-bold 200.000đ
		.banner-sub-wrap
			.banner-sub-wrap-ins
				a.banner-sub(style="background-image:url(http://via.placeholder.com/500x500)" href="product_detail.html")
					.label-price
						span.color-light.fs--m.fw-bold 200.000đ
				a.banner-sub(style="background-image:url(http://via.placeholder.com/500x500)" href="product_detail.html")
					.label-price
						span.color-light.fs--m.fw-bold 200.000đ
	a.func-more-in-bottom.fs--l.fw-medium(href="#!") Ghé thăm shop

.bl-module.module-grid-list.m-bottom-2
	.heading.justify-content-start
		a.title-wrap(href="#!")
			.avatar.avatar--s.m-right-3
				.avatar-img(style="background-image:url(http://via.placeholder.com/240x240)")
			span.fs--l.fw-medium.text-truncate Shop name
		.func-wrap
			a.func-follow.disabled(href="#!") <i class="icn icn-check-small"></i><span class="color-base fs--s">Đã theo dõi</span>
	.brand-container
		a.banner-main(style="background-image:url(http://via.placeholder.com/500x500)" href="product_detail.html")
			.label-price
				span.color-light.fs--m.fw-bold 200.000đ
		.banner-sub-wrap
			.banner-sub-wrap-ins
				a.banner-sub(style="background-image:url(http://via.placeholder.com/500x500)" href="product_detail.html")
					.label-price
						span.color-light.fs--m.fw-bold 200.000đ
				a.banner-sub(style="background-image:url(http://via.placeholder.com/500x500)" href="product_detail.html")
					.label-price
						span.color-light.fs--m.fw-bold 200.000đ
	a.func-more-in-bottom.fs--l.fw-medium(href="#!") Ghé thăm shop
	