block home

- var product = []
- product.push({"class":"","name":"Vòng Đeo Tay Thông Minh Theo Dõi Vận Động Xiaomi Mi Band 3 - Hàng Chính Hãng"})
- product.push({"class":"","name":"Tivi LED Sony"})
- product.push({"class":"","name":"Tivi LED Sony 32 inch KDL-32R300E"})
- product.push({"class":"","name":"Vòng Đeo Tay Thông Minh Theo Dõi Vận Động Xiaomi Mi Band 3 - Hàng Chính Hãng"})
- product.push({"class":"","name":"Tivi LED Sony"})
- product.push({"class":"","name":"Tivi LED Sony 32 inch KDL-32R300E"})

.bl-module.module-search
	.default-form
		.form-row.has-func-right.has-func-search
			.d-flex.align-items-center.w-100
				.input-wrap
					input(type="text" placeholder="11.11 Độc thân" value="")
					a.func-reset(href="#!")
						i.icn.icn-circle-remove
					a.func-search(href="#!")
						i.icn.icn-search
				a.func-share(href="#!")
					i.icn.icn-share

.bl-module.module-category.is-mt-gutter
	a.item-banner.borderRadius--m(href="category_banner_list.html" style="background-image:url(http://via.placeholder.com/750x260)")

.bl-module.module-filter
	span.product-total.color-base.fs--l 19 sản phẩm
	.func-wrap
		a.func-show
			i.icn.icn-grid
			i.icn.icn-list
		a.func-filter(href="javascript:void(0);" data-toggle="modal" data-target="#modal-filter")
			i.icn.icn-filter
			span.color-base.fs--l Bộ lọc


.bl-module.module-grid-list
	ul.product-list.is-column
		li
			.item-product
				span.img-loader
				.desc-loader
					span
					span
		each productItem in product
			li(class=`${productItem.class}`)
				a.item-product(href="product_detail.html")
					span.img-product(style="background-image:url(http://via.placeholder.com/240x240)")
						.label-discount
							span.color-light.fs--m.fw-bold 20%
					.desc
						h2.product-title.color-base.fs--m.fw-normal.m-bottom-1 #{productItem.name}
						p.color-base.fs--xl.fw-bold 500.000đ
						p.color-grey.fs--m.line-through 41.000đ
						.star-orders.d-flex.m-top-2
							.rating-star.m-right-2
								i.icn.icn-shape-star.active
								i.icn.icn-shape-star.active
								i.icn.icn-shape-star.active
								i.icn.icn-shape-star.active
								i.icn.icn-shape-star
							span.num.color-base.fs--s (4.8)






