.bl-module.module-list-banner.pb-0 
	img(src="https://via.placeholder.com/343x192")
.bl-module.module-listing
	.body-listing
		.module-product-seller
			.heading.pb-0 
				span.title {số tin} nổi bật
			.context-product-seller
				ul.product-seller-list
					li
						a.item-product-seller(href="#!")
							span.media
								span.count-img
									i.icn.icn-bold-img
									span.number 1
								span.img(style="background-image:url('images/img_product_seller.png')")
							span.content
								span.price 20,1 Tỷ
								
								span.desc Căn hộ Green Star Nguyễn Lương Bằng Q.7 Giá 2,3 Tỷ
								ul.attr-list
									li 50m
										sup 2
									li Q.Bình Thạnh
									li Tp.HCM
					li
						a.item-product-seller(href="#!")
							span.media
								span.count-img
									i.icn.icn-bold-img
									span.number 1
								span.img(style="background-image:url('images/img_product_seller.png')")
							span.content
								span.price 20,1 Tỷ
								
								span.desc Căn hộ Green Star Nguyễn Lương Bằng Q.7 Giá 2,3 Tỷ
								ul.attr-list
									li 50m
										sup 2
									li Q.Bình Thạnh
									li Tp.HCM
					li
						a.item-product-seller(href="#!")
							span.media
								span.count-img
									i.icn.icn-bold-img
									span.number 6
								span.img(style="background-image:url('images/img_product_seller.png')")
							span.content
								span.price 700 triệu
								
								span.desc Căn hộ Green Star Nguyễn Lương Bằng Q.7 Giá 2,3 Tỷ
								ul.attr-list
									li 50m
										sup 2
									li Q.Bình Thạnh
									li Tp.HCM
					li
						a.item-product-seller(href="#!")
							span.media
								span.count-img
									i.icn.icn-bold-img
									span.number 5
								span.img(style="background-image:url('images/img_product_seller.png')")
							span.content
								span.price 20,1 Tỷ
								
								span.desc Căn hộ Green Star Nguyễn Lương Bằng Q.7 Giá 2,3 Tỷ
								ul.attr-list
									li 50m
										sup 2
									li Q.Bình Thạnh
									li Tp.HCM
					li
						a.item-product-seller(href="#!")
							span.media
								span.count-img
									i.icn.icn-bold-img
									span.number 3
								span.img(style="background-image:url('images/img_product_seller.png')")
							span.content
								span.price 20,1 Tỷ
								span.desc Căn hộ Green Star Nguyễn Lương Bằng Q.7 Giá 2,3 Tỷ
								ul.attr-list
									li 50m
										sup 2
									li Q.Bình Thạnh
									li Tp.HCM
					li
						a.item-product-seller(href="#!")
							span.media
								span.count-img
									i.icn.icn-bold-img
									span.number 1
								span.img(style="background-image:url('images/img_product_seller.png')")
							span.content
								span.price 20,1 Tỷ
								
								span.desc Căn hộ Green Star Nguyễn Lương Bằng Q.7 Giá 2,3 Tỷ
								ul.attr-list
									li 50m
										sup 2
									li Q.Bình Thạnh
									li Tp.HCM
				