.bl-module.module-buyer-detail.is-seller-detail
	.error-block
		i.icn.icn-bold-error-hex
		p error message
	.status-group
		.status.is-success
			span Đang rao bán
	.block-push-post-now 
		.blk-bar
			.page-location
				.tooltip-page-num Trang 20
			.bar
				i.icn.icn-small-left
			.blk-text 
				p Trang đầu
				p Trang cuối 
		.special-desc Tin của bạn đang ở 
			strong Trang 1 
			|trong 
			strong Bất động sản 
			|tại 
			strong Quận 1, TP Hồ Chí Minh
	ul.info-list
		li
			span 65m2
		li
			span Quận 1
		li
			span Tp.Hcm
		li
			span Tin đăng 4 tiếng trước
		li
			span Tin đăng 4 tiếng trước
	h1.product-name Ford Everest 2020 TitaNIUM+ Ambient KM + PK 150 TR mới về
	p.product-price 875,5 triệu
	ul.image-list-seller
		li
			a(data-fancybox="gallery" href="https://miro.medium.com/max/1838/1*mk1-6aYaf_Bes1E3Imhc0A.jpeg")
				span.item-image(style="background-image:url(https://miro.medium.com/max/1838/1*mk1-6aYaf_Bes1E3Imhc0A.jpeg)")
				
		li
			a(data-fancybox="gallery" href="http://via.placeholder.com/100x100")
				span.item-image(style="background-image:url(http://via.placeholder.com/100x100)")
				
		li
			a(data-fancybox="gallery" href="http://via.placeholder.com/100x100")
				span.item-image(style="background-image:url(http://via.placeholder.com/100x100)")
				
		li
			a(data-fancybox="gallery" href="http://via.placeholder.com/100x100")
				span.item-image(style="background-image:url(http://via.placeholder.com/100x100)")
				
		li
			a(data-fancybox="gallery" href="http://via.placeholder.com/100x100")
				span.item-image(style="background-image:url(http://via.placeholder.com/100x100)")
	.desc-buyer
		.desc.for-listing
			span.fs--l.fw-bold.title-desc Thông tin chi tiết
			.content
				.content-col
					.content-item
						p.attr Diện tích
						p.val 65m2
					//- .content-item
					//- 	p.attr Số phòng vệ sinh
					//- 	p.val 2 phòng
					//- .content-item
					//- 	p.attr Attribute
					//- 	p.val Value
				.content-col
					.content-item
						p.attr Số phòng ngủ
						p.val 2 phòng
			//- 		.content-item
			//- 			p.attr Hướng
			//- 			p.val Đông Nam
			//- p CÒN TIN CÒN MÁY NHÉ CÁC BẠN.
			//- p Mình có ship COD toàn quốc nhé.
			//- p Free ship nội thành TP HCM.
			//- p Có hỗ trợ trả góp qua thẻ tín dụng 0% lãi suất.
			a.full-desc-link#see-more-detail Xem đầy đủ
				i.icn.icn-small-down
	.managing-product 
		.header-blk
			h3 Quản lý tin đăng
			a(href="history_upgrade.html")
				i.icn.icn-restore
		
		.banner-upsize-price
			a(href='pricing.html')
				img(src="http://via.placeholder.com/343x105")
		.banner-upsize-price.has-popup
			//- a(href='pricing.html')
			//- 	img(src="http://via.placeholder.com/343x105")
			.block-push-ad 
				.text 
					p.title Gói đẩy KIM CƯƠNG 
					p Từ 01/01/2021 đến 01/01/2022
				a.btn.btn-secondary.btn--s Gia hạn
			.update-special-feature 
				.text
					p.title Kèm tính năng TIN NỔI BẬT
					p Từ 01/01/2021 đến 01/01/2022
				a.btn.btn-outline-secondary.btn--s Gia hạn
		ul.list-button-cta 
			li 
				i.icn.icn-fill-edit
				p Chỉnh sửa tin
			li 
				i.icn.icn-loudspeaker
				p Rao bán
			li 
				i.icn.icn-share
				p Chia sẻ
			li 
				i.icn.icn-loudspeaker
				p action
			li 
				i.icn.icn-loudspeaker
				p action
			li 
				i.icn.icn-loudspeaker
				p action

			

