block home

- var product = []
- product.push({"class":"","name":"Vòng Đeo Tay Thông Minh Theo Dõi Vận Động Xiaomi Mi Band 3 - Hàng Chính Hãng"})
- product.push({"class":"","name":"Tivi LED Sony"})
- product.push({"class":"","name":"Tivi LED Sony 32 inch KDL-32R300E"})

- var rating = []
- rating.push({"name":"xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx"})
- rating.push({"name":"Nội dung bình luận"})
- rating.push({"name":"Nội dung bình luận"})


.feature-dockbar
	.context-feature-dockbar.breadcrumb-no-fixed
		nav.breadcrumb
			ol
				li.breadcrumb-item
					a(href="index.html")
						i.icn.icn-ue60-home
				li.breadcrumb-item
					a(href="category_subcate_level3.html")
						span.text-truncate Đồ điện tử
				li.breadcrumb-item
					a(href="category_subcate_level3.html")
						span.text-truncate Điện thoại & di động
			
		a.func-share(href="#!share")
			i.icn.icn-share
			.feature-share-list
				.arrows
				.item-feature
					i.icn.icn-a-share
					span Chia sẻ cho bạn bè
				.item-feature
					i.icn.icn-clock
					span Đăng lên nhật ký
				
	//- .trans-feature-dockbar

.bl-module.module-buyer-detail
	ul.info-list
		li
			span 65m2
		li
			span Quận 1
		li
			span Tp.Hcm
		li
			span Tin đăng 4 tiếng trước
		li
			span Tin đăng 4 tiếng trước
	h1.product-name Ford Everest 2020 TitaNIUM+ Ambient KM + PK 150 TR mới về
	p.product-price 875,5 triệu
	ul.product-image-list.is-6
		li
			a(data-fancybox="gallery" href="http://via.placeholder.com/100x100")
				span.item-image(style="background-image:url(http://via.placeholder.com/100x100)")
				
		li
			a(data-fancybox="gallery" href="http://via.placeholder.com/200x200")
				span.item-image(style="background-image:url(http://via.placeholder.com/200x200)")
				
		li
			a(data-fancybox="gallery" href="http://via.placeholder.com/300x300")
				span.item-image(style="background-image:url(http://via.placeholder.com/300x300)")
				
		li
			a(data-fancybox="gallery" href="http://via.placeholder.com/400x400")
				span.item-image(style="background-image:url(http://via.placeholder.com/400x400)")
				
		li
			a(data-fancybox="gallery" href="http://via.placeholder.com/500x500")
				span.item-image(style="background-image:url(http://via.placeholder.com/500x500)")
				
		li
			a(data-fancybox="gallery" href="http://via.placeholder.com/600x600")
				span.item-image(style="background-image:url(http://via.placeholder.com/600x600)")
					.layer-view-detail  +5
	.status-group
		.d-flex.justify-content-between.align-items-center
			.status.is-success
				span Status
			//- .action-list
			//- 	a.action.is-active( data-toggle="modal" data-target="#modal-edit-action2")
			//- 		i.icn.icn-bold-pen
			//- 		small Chỉnh sửa
		p.notify.is-error Sản phẩm này chưa được duyệt vì sản phẩm nằm trong danh sách các sản phẩm không được duyệt
		ul.func-detail-list
			li
				a.item(href="#!" data-toggle="modal" data-target="#modal-edit-action1")
					.icon-container
						i.icn.icn-tag-check
					span Đánh dấu đã bán
			li
				a.item(href="#!")
					.icon-container
						i.icn.icn-speaker-2
					span Rao bán
			li
				a.item(href="#!")
					.icon-container
						i.icn.icn-speaker-2
					span Gia hạn
			li
				a.item(href="#!")
					.icon-container
						i.icn.icn-pen-underline
					span Chỉnh sửa tin rao
			li
				a.item(href="#!")
					.icon-container
						i.icn.icn-a-share
					span Gửi cho bạn bè
			li
				a.item(href="#!")
					.icon-container
						i.icn.icn-clock-2
					span Rao bán
	.desc-buyer
		.desc.for-listing
			span.fs--l.fw-bold.title-desc Thông tin chi tiết
			.content
				.content-col
					.content-item
						p.attr Diện tích
						p.val 65m2
					.content-item
						p.attr Số phòng vệ sinh
						p.val 2 phòng
					.content-item
						p.attr Attribute
						p.val Value
				.content-col
					.content-item
						p.attr Số phòng ngủ
						p.val 2 phòng
					.content-item
						p.attr Hướng
						p.val Đông Nam
		
		.desc.detail-desc
			span.fs--l.fw-bold.title-desc Mô tả
			p CÒN TIN CÒN MÁY NHÉ CÁC BẠN.
			p Mình có ship COD toàn quốc nhé.
			p Free ship nội thành TP HCM.
			p Có hỗ trợ trả góp qua thẻ tín dụng 0% lãi suất.
			p Apple Watch Series 3
			p Bản GPS , 42mm , hàng LLA ( Mỹ )
			p Màu Grey
			p Ngoại hình 98% ( mặt đít hơi sờn nhẹ , màn xước nhẹ , viền đẹp )
			p Bán giá tốt cho ae trải nghiệm
			p Máy nguyên zin, chưa sửa chữa, Ko lỗi vặt, pin cực tốt.
			p Máy mình đã test kĩ , có nhận giao lưu nhưng chỉ giao lưu máy zin chuẩn , ko sửa chữa.
			p Tình trạng máy có sao nói vậy cho đỡ mất thời gian 2 bên. Mình có hướng dẫn test cụ thể cho mọi người. Bao test thêm 1 tuần thoải mái lỗi mình hoàn tiền.
			p Phụ kiện: dây đeo , dock sạc đầy đủ
			p CÒN TIN CÒN MÁY NHÉ CÁC BẠN.
			a.full-desc-link#see-more-detail Xem đầy đủ
				i.icn.icn-small-down
		.info-user
			a.overlay-fw-seller(href="profile_seller.html")
			span.title Thông tin người bán
			.user-avatar
				.user-avatar-container
					.avatar.avatar--m
						.avatar-img(style="background-image:url(http://via.placeholder.com/200x200)")
					.info-block
						p.user-name An Teo
						.credit
							p 12 
								span tin đang rao
							p 30 
								span Người theo dõi
			.more-info-block
				h4 Các vị trí đăng bán
				ul.attr-list
					li 50m
						sup 2
					li Q.Bình Thạnh
					li Tp.HCM
					li Q.Bình Thạnh
					li Tp.HCM
					li Q.Bình Thạnh
					li Tp.HCM
					li Q.Bình Thạnh
					li Tp.HCM
			.more-info-block
				h4 Danh mục đăng bán
				ul.attr-list
					li Bất động sản
		.module-product-seller.same-seller
			.heading
				span.title Tin cùng người bán
			.context-product-seller
				ul.product-seller-list
					li
						a.item-product-seller(href="#!")
							span.media
								span.count-img
									i.icn.icn-bold-img
									span.number 1
								span.img(style="background-image:url('images/img_product_seller.png')")
							span.content
								span.price 20,1 Tỷ
								span.desc Căn hộ Green Star 
								ul.attr-list
									li 50m
										sup 2
									li Q.Bình Thạnh
									li Tp.HCM
									li Q.Bình Thạnh
									li Tp.HCM
					li
						a.item-product-seller(href="#!")
							span.media
								span.count-img
									i.icn.icn-bold-img
									span.number 1
								span.img(style="background-image:url('images/img_product_seller.png')")
							span.content
								span.price 20,1 Tỷ
								span.desc Căn hộ Green Star Nguyễn Lương Bằng Q.7 Giá 2,3 Tỷ Căn hộ Green Star Nguyễn Lương Bằng Q.7 Giá 2,3 Tỷ
								ul.attr-list
									li 50m
										sup 2
									li Q.Bình Thạnh
									li Tp.HCM
					li
						a.item-product-seller(href="#!")
							span.media
								span.count-img
									i.icn.icn-bold-img
									span.number 6
								span.img(style="background-image:url('images/img_product_seller.png')")
							span.content
								span.price 700 triệu
								span.desc Căn hộ Green Star Nguyễn Lương Bằng Q.7 Giá 2,3 Tỷ
								ul.attr-list
									li 50m
										sup 2
									li Q.Bình Thạnh
									li Tp.HCM
			button.btn.btn--s.btn-primary.w-100.btn-light Xem tất cả
		.module-product-seller.maybe-caring
			.heading
				span.title Có thể bạn quan tâm
			.context-product-seller
				ul.product-seller-list
					li
						a.item-product-seller(href="#!")
							span.media
								span.count-img
									i.icn.icn-bold-img
									span.number 1
								span.img(style="background-image:url('images/img_product_seller.png')")
							span.content
								span.price 20,1 Tỷ
								span.desc Căn hộ Green Star Nguyễn Lương Bằng Q.7 Giá 2,3 Tỷ
								ul.attr-list
									li 50m
										sup 2
									li Q.Bình Thạnh
									li Tp.HCM
					li
						a.item-product-seller(href="#!")
							span.media
								span.count-img
									i.icn.icn-bold-img
									span.number 1
								span.img(style="background-image:url('images/img_product_seller.png')")
							span.content
								span.price 20,1 Tỷ
								span.desc Căn hộ Green Star Nguyễn Lương Bằng Q.7 Giá 2,3 Tỷ
								ul.attr-list
									li 50m
										sup 2
									li Q.Bình Thạnh
									li Tp.HCM
					li
						a.item-product-seller(href="#!")
							span.media
								span.count-img
									i.icn.icn-bold-img
									span.number 6
								span.img(style="background-image:url('images/img_product_seller.png')")
							span.content
								span.price 700 triệu
								span.desc Căn hộ Green Star Nguyễn Lương Bằng Q.7 Giá 2,3 Tỷ
								ul.attr-list
									li 50m
										sup 2
									li Q.Bình Thạnh
									li Tp.HCM
			button.btn.btn--s.btn-primary.w-100.btn-light Xem tất cả
		.temp-block-spacing
		.chatbox.is-fixed.chatbox-ab-test.chatbox-new#chatbox-has-popup
			.input-container
				input#input-message(type="text" value="" placeholder="Gửi tin nhắn đến người bán")
				//- a.func-reset(href="#func-reset")
				//- 	i.icn.icn-circle-remove
				a.button-send-mess
					i.icn.icn-bold-send
			.list-suggestion
				a.item Bao nhiêu phòng ngủ, nhà vệ sinh?
				a.item Tình trạng nội thất như thế nào?
				a.item Tình trạng nội thất như thế nào?
				a.item Phí quản lý bao nhiêu?
				.item.trick-spacing-right
		.chatbox.is-fixed.contact-seller.chatbox-new#has-contact-seller.chatbox-ab-test
			.contact-seller-container
				i.icn.icn-check-circle
				p Đã liên hệ người bán
			button.btn.btn--s.btn-primary Xem tin nhắn
		//- .chatbox.is-fixed.chatbox-new.button-contact-seller
		//- 	button.btn.btn--s.btn-primary.w-100 Liên hệ người bán
		//- button.btn.btn--s.btn-primary.btn-light#see-more-fancy.is-hidden Xem thêm hình ảnh

//- popup
.bl-popup
	.popup-container.has-radius#popup-suggest-message
		//- a.btn-close#close-suggest-message
		//- 	i.icn.icn-add
		p Chọn câu hỏi có sẵn hoặc tự nhập vào ô bên dưới
		.list-suggestion
			a.item Bao nhiêu phòng ngủ, nhà vệ sinh?
			a.item Tình trạng nội thất như thế nào?
			a.item Tình trạng nội thất như thế nào?
			a.item Phí quản lý bao nhiêu?
			.item.trick-spacing-right
