block home

.bl-module.module-project-detail 
	.module-intro
		img(src='https://via.placeholder.com/375x250')
		.main-contain 
			h3.title Vinhomes Grand Park (Vincity Quận 9)
			.location 
				i.icn.icn-pin
				p Quận 9, TP Hồ Chí Minh
			.blk-more 
				p.gray Chủ đầu tư
				p Thảo điền Investment
			.blk-more 
				p.gray Năm bàn giao
				p 30-03-2021
			.blk-more 
				p.gray Khoảng giá
				p 40 - 50 triệu/m
					sup 2
	.module-desc-project 
		.block
			span.fs--l.fw-bold.title-desc Mô tả dự án
			p.desc Mang phong cách Châu Âu sang trọng và đẳng cấp bậc nhất Thanh Hóa, Vinhomes Star City được quy hoạch đồng bộ theo mô hình “city within city” thịnh hành trên thế giới. Khu đô thị là tổng hòa hoàn hảo của các tiểu khu với từng phong cách kiến trúc đặc trưng, riêng biệt, sở hữu quần thể tiện ích sang trọng, hạ tầng đồng bộ, được quản lý và vận hành bởi Vinhomes.
			a.see-full Xem đầy đủ
				i.icn.icn-small-down
		.block 
			span.fs--l.fw-bold.title-desc Tiện ích 
			.tag-list 
				.item Phòng gym
				.item Hồ bơi 
				.item Trung tâm thương mại
				.item Trung tâm thương mại
		.block
			span.fs--l.fw-bold.title-desc Tài liệu pháp lý
			.legal-list 
				.item 
					img(src='./images/icon_document_bds.png')
					p Pháp lý dự án
				.item 
					img(src='./images/icon_document_bds.png')
					p Tài liệu B
				.item 
					img(src='./images/icon_document_bds.png')
					p Tài liệu C
			a.see-full Xem đầy đủ
				i.icn.icn-small-down
	.module-listing
		.body-listing
		.module-product-seller
			.heading.pb-0
				span.title Tin đăng thuộc dự án
			.context-product-seller
				ul.product-seller-list
					li.is-premium
						a.item-product-seller(href="#!")
							span.media
								span.count-img
									i.icn.icn-bold-img
									span.number 1
								span.img(style="background-image:url('images/img_product_seller.png')")
							span.content
								span.price 20,1 Tỷ
								img(src='./images/diamond.png')
								span.desc Căn hộ Green Star Nguyễn Lương Bằng Q.7 Giá 2,3 Tỷ
								ul.attr-list
									li 50m
										sup 2
									li Q.Bình Thạnh
									li Tp.HCM
					li.is-premium
						a.item-product-seller(href="#!")
							span.media
								span.count-img
									i.icn.icn-bold-img
									span.number 1
								span.img(style="background-image:url('images/img_product_seller.png')")
							span.content
								span.price 20,1 Tỷ
								img(src='./images/diamond.png')
								span.desc Căn hộ Green Star Nguyễn Lương Bằng Q.7 Giá 2,3 Tỷ
								ul.attr-list
									li 50m
										sup 2
									li Q.Bình Thạnh
									li Tp.HCM
					li.is-premium
						a.item-product-seller(href="#!")
							span.media
								span.count-img
									i.icn.icn-bold-img
									span.number 6
								span.img(style="background-image:url('images/img_product_seller.png')")
							span.content
								span.price 700 triệu
								img(src='./images/diamond.png')
								span.desc Căn hộ Green Star Nguyễn Lương Bằng Q.7 Giá 2,3 Tỷ
								ul.attr-list
									li 50m
										sup 2
									li Q.Bình Thạnh
									li Tp.HCM
					li.is-premium
						a.item-product-seller(href="#!")
							span.media
								span.count-img
									i.icn.icn-bold-img
									span.number 5
								span.img(style="background-image:url('images/img_product_seller.png')")
							span.content
								span.price 20,1 Tỷ
								img(src='./images/diamond.png')
								span.desc Căn hộ Green Star Nguyễn Lương Bằng Q.7 Giá 2,3 Tỷ
								ul.attr-list
									li 50m
										sup 2
									li Q.Bình Thạnh
									li Tp.HCM
					li.is-premium
						a.item-product-seller(href="#!")
							span.media
								span.count-img
									i.icn.icn-bold-img
									span.number 3
								span.img(style="background-image:url('images/img_product_seller.png')")
							span.content
								span.price 20,1 Tỷ
								span.desc Căn hộ Green Star Nguyễn Lương Bằng Q.7 Giá 2,3 Tỷ
								ul.attr-list
									li 50m
										sup 2
									li Q.Bình Thạnh
									li Tp.HCM
	
