block home

.feature-dockbar
	.context-feature-dockbar
		nav.breadcrumb
			ol
				li.breadcrumb-item
					a(href="index.html")
						i.icn.icn-home
				li.breadcrumb-item.active(aria-current="page")
					a(href="javascript:void(0);")
						span Cơ chế khiếu nại
		a.func-search(href="search.html")
			i.icn.icn-search
		a.func-cart(href="cart.html")
			i.icn.icn-shopping-cart
			span.num 1
		a.func-share(href="#!share")
			i.icn.icn-share
	.trans-feature-dockbar

.bl-module.module-docs
	.context-banner-docs
		h2 QUY TRÌNH GIẢI QUYẾT <br />TRANH CHẤP, KHIẾU NẠI
	.context-body-docs
		h3 1. Quy trình thông báo vi phạm:
		ul
			li Nếu Người sử dụng tin rằng bất kỳ nội dung, tài liệu, hình ảnh, video hoặc các tài liệu khác được cung cấp thông qua nền tảng Zalo Shop (“Zalo Shop”) vi phạm bao gồm nhưng không giới hạn về vi phạm về quyền sở hữu trí tuệ, chất lượng, nội dung.. Người sử dụng thông báo cho Zalo Shop về việc vi phạm trên theo quy trình cụ thể được quy định dưới đây.
			li Zalo Shop sẽ xử lý từng thông báo vi phạm mà Zalo Shop nhận được và xử lý theo quy định của pháp luật.
			li Thời gian giải quyết khiếu nại trong thời hạn tối đa là 07 (bảy) ngày làm việc kể từ khi nhận được khiếu nại của của khách hàng. Trong trường hợp bất khả kháng 2 bên sẽ tự thương lượng.
			li Để giúp Zalo Shop có đủ cơ sở đáp ứng các yêu cầu của thành viên khiếu nại, vui lòng gửi thông báo bằng văn bản hoặc qua địa chỉ email shop@zaloapp.com với các thông tin sau:
				ul
					li Nội dung vi phạm
					li Căn cứ vi phạm
					li Thông tin liên hệ của thành viên khiếu nại như địa chỉ, số điện thoại, email để Zalo Shop có thể liên hệ.
					li Người khiếu nại tuyên bố rằng các thông tin trong thông báo khiếu nại là chính xác và chấp nhận chịu trách nhiệm trước pháp luật về các thông tin đó.

		h3 2. Các bước khiếu nại:
		p
			strong Bước 1: Người mua gửi khiếu nại
		p
			strong Bước 2: Xem xét và tiếp nhận
		ul
			li Nếu Khiếu nại hợp lệ, Zalo Shop sẽ tiếp nhận và áp dụng biện pháp ngăn chặn nếu có, được quy định trong điều 6.4 của Điều khoản dịch vụ trên Nền tảng Zalo Shop
			li Nếu khiếu nại không hợp lệ thì Zalo Shop gửi thông báo trả lời, kết thúc khiếu nại.
		p
			strong Bước 3: Đối chất, xác minh, xử lý khiếu nại.
		ul
			li Zalo Shop thực hiện chức năng điều phối khiếu nại.
			li Zalo Shop yêu cầu các bên cung cấp thông tin bổ sung, thu thập chứng cứ và phân tích, đánh giá chứng cứ.
			li Zalo Shop đề xuất các bên tự hòa giải và thông báo kết quả cho Zalo Shop, nếu hòa giải thành, các bên đã đi đến thỏa thuận và thống nhất. Người mua rút đơn khiếu nại, kết thúc khiếu nại. Zalo Shop bỏ ngăn chặn.
			li Trường hợp hòa giải không thành, Zalo Shop căn cứ và các chứng cứ thực tế đưa ra phán quyến và yêu cầu các bên tuân thủ, thực hiện. Phán quyết của Zalo Shop là phan quyết cuối cùng dựa trên các chứng cứ được đưa ra bởi các bên.
		p
			strong Bước 4: Hoàn tất khiếu nại. Xác nhận kết quả và tiến hành đóng khiếu nại.



