block home

.bl-module.module-payment-history
	h3 Lịch sử thanh toán 
	ul 
		li
			.first-line 
				p dd/mm/yyyy
				p.price - 1,000,000đ
			p.second-line Phí đăng tin và gói đăng tin cho tin đăng 
			p.second-line <span>Title của tin đăng</span>
		li
			.first-line 
				p dd/mm/yyyy
				p.price - 1,000,000đ
			p.second-line Phí đăng tin và gói đăng tin cho tin đăng <span>Title của tin đăng</span>
		li
			.first-line 
				p dd/mm/yyyy
				p.price - 1,000,000đ
			p.second-line Phí đăng tin và gói đăng tin cho tin đăng <span>Title của tin đăng</span>
		li
			.first-line 
				p dd/mm/yyyy
				p.price - 1,000,000đ
			p.second-line Phí đăng tin và gói đăng tin cho tin đăng <span>Title của tin đăng</span>
		li
			.first-line 
				p dd/mm/yyyy
				p.price - 1,000,000đ
			p.second-line Phí đăng tin và gói đăng tin cho tin đăng <span>Title của tin đăng</span>