block home

.bl-module.module-history-upgrade 
	h3 Các gói nâng cấp đã dùng
	ul 
		li 
			h3 Tên gói
			p Thời gian hiệu lực: 30 ngày
			p Ngày chạy: {date} - {date}
			p Tổng tiền: <strong>100.000đ</strong>
		li 
			h3 Tên gói
			p Thời gian hiệu lực: 30 ngày
			p Ngày chạy: {date} - {date}
			p Tổng tiền: <strong>100.000đ</strong>
		li 
			h3 Tên gói
			p Thời gian hiệu lực: 30 ngày
			p Ngày chạy: {date} - {date}
			p Tổng tiền: <strong>100.000đ</strong>
		li 
			h3 Tên gói
			p Thời gian hiệu lực: 30 ngày
			p Ngày chạy: {date} - {date}
			p Tổng tiền: <strong>100.000đ</strong>
		li 
			h3 Tên gói
			p Thời gian hiệu lực: 30 ngày
			p Ngày chạy: {date} - {date}
			p Tổng tiền: <strong>100.000đ</strong>
		li 
			h3 Tên gói
			p Thời gian hiệu lực: 30 ngày
			p Ngày chạy: {date} - {date}
			p Tổng tiền: <strong>100.000đ</strong>
