block home

.bl-module.module-hero
	.swiper_content_wrapper
		.swiper-container.swiper-hero
			.swiper-wrapper
				.swiper-slide
					a.item-banner(href="#!" style="background-image:url(http://via.placeholder.com/750x750)")
				.swiper-slide
					a.item-banner(href="event_landing.html" style="background-image:url(http://via.placeholder.com/750x750)")
				.swiper-slide
					a.item-banner(href="event_landing.html" style="background-image:url(http://via.placeholder.com/750x750)")
		.swiper-pagination#hero-pagination
	.default-form-search
		.form-row.has-func-right.has-func-search
			input(type="text" placeholder="Tìm kiếm..." value="")
			//- a.func-reset(href="#!")
			//- 	i.icn.icn-circle-remove
			a.func-search(href="#!")
				i.icn.icn-search
	.category-block
		.cate-item
			.cate-banner(href="#!" style="background-image:url(images/cate_realestate.jpg)")
			p.cate-name Bất động sản
		.cate-item
			.cate-banner(href="#!" style="background-image:url(images/cate_auto.jpg)")
			p.cate-name Xe cộ
		//- .cate-item
		//- 	.cate-banner(href="#!" style="background-image:url(http://via.placeholder.com/115x75)")
		//- 	p.cate-name cate 3
.bl-module.module-suggest-product
	.heading
		span.title You may like this
	ul
		li.item
			.info-contain
				p.title Trade car
				p.desc Có 123 tin đăng
			.image
				img(src="http://via.placeholder.com/80")
		li.item
			.info-contain
				p.title Trade car Trade car Trade car Trade car Trade car
				p.desc Có 123 tin đăng Có 123 tin đăng Có 123 tin đăng Có 123 tin đăng Có 123 tin đăng
			.image
				img(src="http://via.placeholder.com/80")
.bl-module.module-list-product.module-product-seller
	.heading
		span.title Vừa rao bán
	.context-product-seller
		ul.product-seller-list
			li
				a.item-product-seller(href="#!")
					span.media
						span.count-img
							i.icn.icn-bold-img
							span.number 1
						span.img(style="background-image:url('images/img_product_seller.png')")
					span.content
						span.price 20,1 Tỷ
						span.desc Căn hộ Green Star Nguyễn Lương Bằng Q.7 Giá 2,3 Tỷ
						ul.attr-list
							li 50m
								sup 2
							li Q.Bình Thạnh
							li Tp.HCM
			li
				a.item-product-seller(href="#!")
					span.media
						span.count-img
							i.icn.icn-bold-img
							span.number 1
						span.img(style="background-image:url('images/img_product_seller.png')")
					span.content
						span.price 20,1 Tỷ
						span.desc Căn hộ Green Star Nguyễn Lương Bằng Q.7 Giá 2,3 Tỷ
						ul.attr-list
							li 50m
								sup 2
							li Q.Bình Thạnh
							li Tp.HCM
			li
				a.item-product-seller(href="#!")
					span.media
						span.count-img
							i.icn.icn-bold-img
							span.number 6
						span.img(style="background-image:url('images/img_product_seller.png')")
					span.content
						span.price 700 triệu
						span.desc Căn hộ Green Star Nguyễn Lương Bằng Q.7 Giá 2,3 Tỷ
						ul.attr-list
							li 50m
								sup 2
							li Q.Bình Thạnh
							li Tp.HCM
			li
				a.item-product-seller(href="#!")
					span.media
						span.count-img
							i.icn.icn-bold-img
							span.number 5
						span.img(style="background-image:url('images/img_product_seller.png')")
					span.content
						span.price 20,1 Tỷ
						span.desc Căn hộ Green Star Nguyễn Lương Bằng Q.7 Giá 2,3 Tỷ
						ul.attr-list
							li 50m
								sup 2
							li Q.Bình Thạnh
							li Tp.HCM
			li
				a.item-product-seller(href="#!")
					span.media
						span.count-img
							i.icn.icn-bold-img
							span.number 3
						span.img(style="background-image:url('images/img_product_seller.png')")
					span.content
						span.price 20,1 Tỷ
						span.desc Căn hộ Green Star Nguyễn Lương Bằng Q.7 Giá 2,3 Tỷ
						ul.attr-list
							li 50m
								sup 2
							li Q.Bình Thạnh
							li Tp.HCM
	.module-loading.is-active
		.context-loading
			svg(class="spinner" width="24px" height="24px" viewBox="0 0 66 66" xmlns="http://www.w3.org/2000/svg")
				circle(class="path" fill="none" stroke-width="4" stroke-linecap="round" cx="33" cy="33" r="30")
.module-banner-square-ad
	span.img
	i.icn.icn-add