block home

.bl-module.module-list-followers
	h3 Có 8 người theo dõi
	.list
		ul
			li
				.profile
					.avatar.avatar--s
						.avatar-img(style="background-image:url(http://via.placeholder.com/32)")
					p Yogarasa Gandhi
				a.btn.btn--s Nhắn tin
			li
				.profile
					.avatar.avatar--s
						.avatar-img(style="background-image:url(http://via.placeholder.com/32)")
					p Yogarasa Gandhi
				a.btn.btn--s Nhắn tin
			li
				.profile
					.avatar.avatar--s
						.avatar-img(style="background-image:url(http://via.placeholder.com/32)")
					p Yogarasa Gandhi
				a.btn.btn--s Nhắn tin
			li
				.profile
					.avatar.avatar--s
						.avatar-img(style="background-image:url(http://via.placeholder.com/32)")
					p Yogarasa Gandhi
				a.btn.btn--s Nhắn tin
			li
				.profile
					.avatar.avatar--s
						.avatar-img(style="background-image:url(http://via.placeholder.com/32)")
					p Yogarasa Gandhi
				a.btn.btn--s Nhắn tin
					
