block home

.bl-module.module-empty.is-transparent
	img.m-bottom-5(src="images/img_maintenance.jpg" alt=page)
	p.fs--l.text-center.m-bottom-6 Cám ơn bạn đã quan tâm đến Zalo Market.<br />Hiện tại hệ thống đang bảo trì và nâng cấp để có thể phục vụ bạn tốt hơn.
	p.fs--l.text-center Mời bạn quay lại sau.
