.bl-module.module-tabs.is-custom.new_order_list
	ul
		li.tab.active
			a.fs--l(href="#d0") Tất cả
		li.tab
			a.fs--l(href="#d1") Chờ xác nhận
		li.tab
			a.fs--l(href="#d2") Đang xử lý
		li.tab
			a.fs--l(href="#d3") Đã xác nhận
		li.tab
			a.fs--l(href="#d4") Từ chối bán
hr.line-spacing.is-8.no-margin(style="margin: unset;")
.bl-module.module-order-list
	.context-order
		ul.context-order
			li
				a.item-order(href="#")
					.first-content
						.row
							p.left
								span Ngày đặt hàng:
								| 15:21 31/12/2018
							p.code.right #BEBEBE
						.row
							p.left
								span Cửa hàng:
								| Budweiser
							p.right.status Đơn hàng mới
					.second-content
						span.img(style="background-image:url('images/img_product_seller.png')")
						.text
							p.product-name Chai Budweiser phiên bản đặc biệt
							p.contact Liên hệ
							p.count Số lượng: 1
					.third-content
						.row
							p.left Tổng tiền
							p.right.orange-contact Liên hệ
						.row
							p.left Tình trạng thanh toán
							p.right Thanh toán khi nhận hàng
						.row
							p.left Đơn vị vận chuyển
							p.right Vận chuyển bởi shop
						.row
							p.left Phí vận chuyển
							p.right Tự thỏa thuận
			li
				a.item-order(href="#")
					.first-content
						.row
							p.left
								span Ngày đặt hàng:
								| 15:21 31/12/2018
							p.code.right #BEBEBE
						.row
							p.left
								span Cửa hàng:
								| Budweiser
							p.right.status Đơn hàng mới
					.second-content
						span.img(style="background-image:url('images/img_product_seller.png')")
						.text
							p.product-name Chai Budweiser phiên bản đặc biệt
							p.contact Liên hệ
							p.count Số lượng: 1
					.third-content
						.row
							p.left Tổng tiền
							p.right.orange-contact Liên hệ
						.row
							p.left Tình trạng thanh toán
							p.right Thanh toán khi nhận hàng
						.row
							p.left Đơn vị vận chuyển
							p.right Vận chuyển bởi shop
						.row
							p.left Phí vận chuyển
							p.right Tự thỏa thuận
			li
				a.item-order(href="#")
					.first-content
						.row
							p.left
								span Ngày đặt hàng:
								| 15:21 31/12/2018
							p.code.right #BEBEBE
						.row
							p.left
								span Cửa hàng:
								| Budweiser
							p.right.status Đơn hàng mới
					.second-content
						span.img(style="background-image:url('images/img_product_seller.png')")
						.text
							p.product-name Chai Budweiser phiên bản đặc biệt
							p.contact Liên hệ
							p.count Số lượng: 1
					.third-content
						.row
							p.left Tổng tiền
							p.right.orange-contact Liên hệ
						.row
							p.left Tình trạng thanh toán
							p.right Thanh toán khi nhận hàng
						.row
							p.left Đơn vị vận chuyển
							p.right Vận chuyển bởi shop
						.row
							p.left Phí vận chuyển
							p.right Tự thỏa thuận					