block home

.bl-module.module-empty.is-transparent
	img.m-bottom-5(src="images/none_support.png" alt=page)
	p.fs--l.fw-medium.text-center.m-bottom-6 Chúng tôi không hỗ trợ <br />phiên bản hệ điều hành này!
