block home

.bl-module.module-notice-success 
	img(src="images/success_notice_upload.png")
	p Tin của bạn đã tạo thành công và đang được duyệt
.bl-module.module-pricing.module-old-pricing
	.addition-block
		h3.title Bán nhanh hơn với các gói dịch vụ đẩy tin của Zalo Home & Car
		.block-price-item.push-post-now
			.item-container
				.text-block
					p.title Dịch vụ đẩy tin
					p.text-line Tin được đẩy lên những vị trí đầu trên trang danh mục
					p.text-line Không giới hạn số lần đẩy tin. Áp dụng sau khi thanh toán 5 phút
				img(style="width: 120px;" src="./images/HnC_DayTin_GIF_new.gif")
			a.btn.btn-primary.btn--s.w-100.is-light(href="push_post_now.html") Đẩy tin ngay
		.block-price-item
			.item-container
				.text-block
					p.title Highlight Premium
					p.text-line Chữ in hoa toàn bộ và làm đậm, có màu khác biệt.
					p.text-line Vị trí được ưu tiên cao nhất trong listing
				img(style="width: 120px;" src="./images/DAIMOND-GIF.gif")
			a.btn.btn-primary.btn--s.w-100.is-light(href="pricing.html") Tìm hiểu thêm
		.block-price-item
			.item-container
				.text-block
					p.title Highlight Medium
					p.text-line Chữ được làm đậm, có màu khác biệt (nhưng kém nổi bật hơn premium).
					p.text-line Vị trí nằm dưới premium post nhưng phía trên normal post
				img(style="width: 120px;" src="./images/gold-gif.gif")
			a.btn.btn-primary.btn--s.w-100.is-light(href="pricing.html") Tìm hiểu thêm
	a.btn-skip(href="detail_sell_post.html") Bỏ qua