block home

.bl-module.module-order-iframe
	ul.product-list.m-bottom-3
		li.is-mt-gutter
			a.item-product(href="#!")
				span.img-product(style="background-image:url(http://via.placeholder.com/240x240)")
					.label-discount
						span.color-light.fs--m.fw-bold 20%
				.desc
					h2.product-title.color-base.fs--m.fw-normal.m-bottom-1 Vòng Đeo Tay Thông Minh Theo Dõi Vận Động Xiaomi Mi Band 3 - Hàng Chính Hãng
					p.color-base.fs--xl.fw-bold 500.000đ
					p.color-grey.fs--m.line-through 41.000đ
	.default-form
		.form-row.m-bottom-3
			.input-wrap
				.ico-wrap
					i.icn.icn-single
				input(type="text" placeholder="Tên của bạn" value="Anh Vu")
		.form-row.m-bottom-3
			.input-wrap
				.ico-wrap
					i.icn.icn-phone
				input(type="text" placeholder="Số điện thoại" name="" value="099999999")
		.form-row.m-bottom-3
			.input-wrap
				.ico-wrap
					i.icn.icn-pin-outline
				textarea(type="textarea" placeholder="Địa chỉ" name="" rows="1") 182 Lê Đại Hành
		.form-row.m-bottom-3
			.wrap-select
				select()
					option(value="0" disabled selected) Chọn tỉnh/ thành phố
					option(value="1") Hà Nội
		.form-row.m-bottom-3
			.wrap-select
				select()
					option(value="0" disabled selected) Chọn quận/ huyện
					option(value="1") Quận Hoàn Kiếm
		.btn-wrap
			a.btn.btn-primary.btn--m.w-100(href="cart_b2_confirm.html") Nhận tư vấn
