block home

.bl-module.module-empty.is-transparent
	img.m-bottom-5(src="images/img_chat_success.png" alt=page)
	p.fs--l.text-center.m-bottom-6 Đã gửi tin cho shop thành công
	p.text-center
		a.btn.btn-primary.btn--m(href="#!") Tiếp tục mua sắm
