block home

.alert.alert-success(role="alert")
	i.icn.icn-check-small
	span.fs--m Đơn hàng đã hoàn thành
.alert.alert-warning(role="alert")
	i.icn.icn-bold-delivery
	span.fs--m Đơn hàng đã được xác nhận
.alert.alert-danger(role="alert")
	i.icn.icn-bold-bag-remove
	span.fs--m Đơn hàng đã được hủy
.alert.alert-primary(role="alert")
	span.fs--m Các status khác: Đơn hàng mới, đang xử lý ...

.bl-module.module-order-detail.m-bottom-2
	.d-flex.justify-content-between.align-items-center.m-bottom-3
		h2.color-base.fw-bold.fs--m Thông tin đặt hàng
		span.w-50.color-base.fs--m.fw-bold.flex-shrink-0.text-right ID: #3232323
	.d-flex.justify-content-between.m-bottom-2
		span.color-grey.fs--m Order Date
		span.w-50.color-base.fs--m.flex-shrink-0.text-right 10:02, 29/11/2019
	.d-flex.justify-content-between.m-bottom-2
		span.color-grey.fs--m Lý do hủy đơn hàng
		span.w-50.color-base.fs--m.flex-shrink-0.text-right Dont want to buy
	hr.divider
	.d-flex.justify-content-between.m-bottom-3
		h2.color-base.fw-bold.fs--m Thông tin gói cước
	.d-flex.justify-content-between.m-bottom-2
		span.color-grey.fs--m Thuê bao thụ hưởng
		span.w-50.color-base.fs--m.flex-shrink-0.text-right 088 333 8888
	.d-flex.justify-content-between.m-bottom-2
		span.color-grey.fs--m Tên gói cước
		span.w-50.color-base.fs--m.flex-shrink-0.text-right ECO99
	.d-flex.justify-content-between.m-bottom-2
		span.color-grey.fs--m Giá gói cước
		span.w-50.color-base.fs--m.flex-shrink-0.text-right 69.000đ
	hr.divider
	.d-flex.justify-content-between.m-bottom-2
		span.color-grey.fs--m Tổng tiền
		span.w-50.color-price.fs--xl.fw-bold.flex-shrink-0.text-right 200.000đ

.bl-module.module-order-detail.m-bottom-2
	.d-flex.justify-content-between.m-bottom-2
		span.color-grey.fs--m Người mua
		span.w-50.color-base.fs--m.flex-shrink-0.text-right Laguna Loire
	.d-flex.justify-content-between.m-bottom-2
		span.color-grey.fs--m Số điện thoại
		span.w-50.color-base.fs--m.flex-shrink-0.text-right 088 333 8888




