block home

.bl-module
	ul.product-list.is-mt-gutter
		li.has-border5
			.item-product.is-cart.m-bottom-2
				span.img-product(style="background-image:url(http://via.placeholder.com/240x240)")
				.desc
					h2.product-title.color-base.fs--m.fw-normal.m-bottom-1 Vòng Đeo Tay Thông Minh Theo Dõi Vận Động Xiaomi Mi Band 3 - Hàng Chính Hãng
					p.color-base.fs--xl.fw-bold.m-bottom-3 500.000đ
					.sl-wrap
						span.color-base.fs--m Số lượng: 1
					p.color-grey.fs--s.m-top-3 Trắng, Hồng, Xanh, 32GB, Bạc
	
	.rating-wrap
		fieldset.rating
			input#star5(type='radio', name='rating', value='5')
			label.full(for='star5', title='Awesome - 5 stars')
			input#star4half(type='radio', name='rating', value='4 and a half')
			label.half(for='star4half', title='Pretty good - 4.5 stars')
			input#star4(type='radio', name='rating', value='4')
			label.full(for='star4', title='Pretty good - 4 stars')
			input#star3half(type='radio', name='rating', value='3 and a half')
			label.half(for='star3half', title='Meh - 3.5 stars')
			input#star3(type='radio', name='rating', value='3')
			label.full(for='star3', title='Meh - 3 stars')
			input#star2half(type='radio', name='rating', value='2 and a half')
			label.half(for='star2half', title='Kinda bad - 2.5 stars')
			input#star2(type='radio', name='rating', value='2')
			label.full(for='star2', title='Kinda bad - 2 stars')
			input#star1half(type='radio', name='rating', value='1 and a half')
			label.half(for='star1half', title='Meh - 1.5 stars')
			input#star1(type='radio', name='rating', value='1')
			label.full(for='star1', title='Sucks big time - 1 star')
			input#starhalf(type='radio', name='rating', value='half')
			label.half(for='starhalf', title='Sucks big time - 0.5 stars')
		.clear
		
	.d-flex.align-items-center.mb-1
		span.color-base.fs--l Đánh giá chi tiết
		span.color-grey.fs--m.ml-auto 0/1000
	textarea.d-block.is-invalid(name="" rows="8" placeholder="Nội dung đánh giá")
	.invalid-feedback Vui lòng nhập nội dung đánh giá ... 
	.notify-feedback.fs--m.color-grey.mt-3 Xin hãy đánh giá lịch sự. Zalo Shop sẽ từ chối những đánh giá thiếu văn minh

	.btn-wrap.justify-content-center.mt-5
		a.btn.btn-primary.btn--m.w-75(href="profile_history_detail.html") Gửi đánh giá





