block home
.notification-group.ver-2
	.notification
		i.icn.icn-bold-bulb
		p  Tạo tin rao trên máy tính tại Zaloshop.me/PC

.bl-module.module-profile-v2
	.context-user-profile
		.avatar.avatar--m.func-open-logout
			.avatar-img(style="background-image:url(http://via.placeholder.com/200x200)")
		.feature-logout
			.arrows
			.item-feature
				i.icn.icn-log-out
				span#logout-cta Đăng xuất
		.desc
			h2.user-name Username
			.credit
				p 30 
					span tin rao miễn phí ( hạn dùng: 30/04/2021)
	a.func-share(href="#!share")
		i.icn.icn-more
		.feature-share-list
			.arrows
			.item-feature
				i.icn.icn-a-share
				span Chia sẻ cho bạn bè
			.item-feature
				i.icn.icn-clock
				span Đăng lên nhật ký
a.btn.btn-primary.check-your-account-btn Kiểm tra tài khoản
//- .block-add-more-money
//- 	.price-content 
//- 		p Tài khoản hiện có
//- 		.price 
//- 			span 1.000.000.000
//- 			i.icn.icn-bold-dong 
//- 	a.btn.btn-primary.btn--s Nạp tiền 
//- 	a.btn.btn-primary-outline.btn--s(href='history_payment.html') Lịch sử thanh toán
.bl-module.module-tabs.is-custom
	ul
		li.tab.active
			a.fs--l(href="#d0") Đang rao bán
		li.tab
			a.fs--l(href="#d1") Chờ duyệt
		li.tab
			a.fs--l(href="#d2") Hết hạn
		li.tab
			a.fs--l(href="#d3") Đã bán
		li.tab
			a.fs--l(href="#d4") Từ chối duyệt
.tabs-pad-fixed
.bl-module.module-tab-content.is-null
	.context-tab-content
		#d0
			//- .bl-module.module-empty.is-transparent
			//- 	img.m-bottom-2(src="images/img_empty.png" alt=page)
			//- 	p.fs--l.fw-medium.text-center.m-bottom-6 Không có tin đang rao bán nào
			ul.bl-post-list
				li
					.bl-post.push-post
						.head-bl
							span.status Đang rao bán
							span.date 24 Mar 2020
						.body-bl
							a.content(href="#!")
								span.img(style="background-image:url(http://via.placeholder.com/200x200)")
								.desc
									span.price 2,4 tỷ
									span.text Sang quán sữa chua Cô Thỏ 142 Võ Văn Ngân
							//- .special-desc Tin của bạn đang năm ở khoảng tin thứ 
							//- 	span 60-70 
							//- 	|trong 
							//- 	strong Bất động sản 
							//- 	|tại 
							//- 	strong Quận 1, Tp Hồ Chí Minh
							//- .push-post-now 
							//- 	p Đẩy tin lên vị trí đầu trong danh mục và bán nhanh hơn
							//- 	a.btn-push-now Đẩy tin ngay
							.suggest-push-post
								.blk-left
									.page-location
										.tooltip-page-num Trang 20
									.bar
										i.icn.icn-small-left
									.blk-text 
										p Trang đầu
										p Trang cuối 
								a.btn-push-now Đẩy tin ngay



						.footer-bl
							span.group-cta
								a.btn.btn--s(href="#!") Đã bán
								a.btn.btn--s(href="#!") Đăng nhật ký
				li
					.bl-post
						.head-bl
							span.status Đang rao bán
							span.date 24 Mar 2020
						.body-bl
							.notification.is-warning
								i.icn.icn-bold-warning
								span Sản phẩm này chưa được hiển thị trên Zalo Shop
							a.content(href="#!")
								span.img(style="background-image:url(http://via.placeholder.com/200x200)")
								.desc
									span.price 2,4 tỷ
									span.text Sang quán sữa chua Cô Thỏ 142 Võ Văn Ngân
						.footer-bl
							span.group-cta
								a.btn.btn--s(href="#!") Đã bán
								a.btn.btn--s(href="#!") Đăng nhật ký
				li
					.bl-post
						.head-bl
							span.status Đang rao bán
							span.date 24 Mar 2020
						.body-bl
							a.content(href="#!")
								span.img(style="background-image:url(http://via.placeholder.com/200x200)")
								.desc
									span.price 2,4 tỷ
									span.text Sang quán sữa chua Cô Thỏ 142 Võ Văn Ngân
						.footer-bl
							span.group-cta
								a.btn.btn--s(href="#!") Đã bán
								a.btn.btn--s(href="#!") Đăng nhật ký
				li
					.bl-post
						.head-bl
							span.status Đang rao bán
							span.date 24 Mar 2020
						.body-bl
							a.content(href="#!")
								span.img(style="background-image:url(http://via.placeholder.com/200x200)")
								.desc
									span.price 2,4 tỷ
									span.text Sang quán sữa chua Cô Thỏ 142 Võ Văn Ngân
						.footer-bl
							span.group-cta
								a.btn.btn--s(href="#!") Đã bán
								a.btn.btn--s(href="#!") Đăng nhật ký
				li
					.bl-post
						.head-bl
							span.status Đang rao bán
							span.date 24 Mar 2020
						.body-bl
							a.content(href="#!")
								span.img(style="background-image:url(http://via.placeholder.com/200x200)")
								.desc
									span.price 2,4 tỷ
									span.text Sang quán sữa chua Cô Thỏ 142 Võ Văn Ngân
						.footer-bl
							span.group-cta
								a.btn.btn--s(href="#!") Đã bán
								a.btn.btn--s(href="#!") Đăng nhật ký
				li
					.bl-post
						.head-bl
							span.status Đang rao bán
							span.date 24 Mar 2020
						.body-bl
							a.content(href="#!")
								span.img(style="background-image:url(http://via.placeholder.com/200x200)")
								.desc
									span.price 2,4 tỷ
									span.text Sang quán sữa chua Cô Thỏ 142 Võ Văn Ngân
						.footer-bl
							span.group-cta
								a.btn.btn--s(href="#!") Đã bán
								a.btn.btn--s(href="#!") Đăng nhật ký
				li
					.bl-post
						.head-bl
							span.status Đang rao bán
							span.date 24 Mar 2020
						.body-bl
							a.content(href="#!")
								span.img(style="background-image:url(http://via.placeholder.com/200x200)")
								.desc
									span.price 2,4 tỷ
									span.text Sang quán sữa chua Cô Thỏ 142 Võ Văn Ngân
						.footer-bl
							span.group-cta
								a.btn.btn--s(href="#!") Chuyển trạng thái	
								a.btn.btn--s(href="#!") Đăng nhật ký


		#d1(style="display:none")
			ul.bl-post-list
				li
					.bl-post
						.head-bl
							span.status Hết hạn
							span.date 24 Mar 2020
						.body-bl
							a.content(href="#!")
								span.img(style="background-image:url(http://via.placeholder.com/200x200)")
								.desc
									span.price 2,4 tỷ
									span.text Sang quán sữa chua Cô Thỏ 142 Võ Văn Ngân
						.footer-bl
							span.group-cta
								a.btn.btn--s(href="#!") Đã bán
								a.btn.btn--s(href="#!") Đăng nhật ký
				li
					.bl-post
						.head-bl
							span.status Chờ duyệt
							span.date 24 Mar 2020
						.body-bl
							a.content(href="#!")
								span.img(style="background-image:url(http://via.placeholder.com/200x200)")
								.desc
									span.price 2,4 tỷ
									span.text Sang quán sữa chua Cô Thỏ 142 Võ Văn Ngân
						.footer-bl
							span.group-cta
								a.btn.btn--s(href="#!") Đã bán
								a.btn.btn--s(href="#!") Đăng nhật ký
				li
					.bl-post
						.head-bl
							span.status Chờ duyệt
							span.date 24 Mar 2020
						.body-bl
							a.content(href="#!")
								span.img(style="background-image:url(http://via.placeholder.com/200x200)")
								.desc
									span.price 2,4 tỷ
									span.text Sang quán sữa chua Cô Thỏ 142 Võ Văn Ngân
						.footer-bl
							span.group-cta
								a.btn.btn--s(href="#!") Đã bán
								a.btn.btn--s(href="#!") Đăng nhật ký
		#d2(style="display:none")
			ul.bl-post-list
				li
					.bl-post
						.head-bl
							span.status Hết hạn
							span.date 24 Mar 2020
						.body-bl
							a.content(href="#!")
								span.img(style="background-image:url(http://via.placeholder.com/200x200)")
								.desc
									span.price 2,4 tỷ
									span.text Sang quán sữa chua Cô Thỏ 142 Võ Văn Ngân
						.footer-bl
							span.group-cta
								a.btn.btn--s(href="#!") Gia hạn
								a.btn.btn--s(href="#!") Đăng nhật ký
				li
					.bl-post
						.head-bl
							span.status Hết hạn
							span.date 24 Mar 2020
						.body-bl
							a.content(href="#!")
								span.img(style="background-image:url(http://via.placeholder.com/200x200)")
								.desc
									span.price 2,4 tỷ
									span.text Sang quán sữa chua Cô Thỏ 142 Võ Văn Ngân
						.footer-bl
							span.group-cta
								a.btn.btn--s(href="#!") Gia hạn
								a.btn.btn--s(href="#!") Đăng nhật ký
				li
					.bl-post
						.head-bl
							span.status Hết hạn
							span.date 24 Mar 2020
						.body-bl
							a.content(href="#!")
								span.img(style="background-image:url(http://via.placeholder.com/200x200)")
								.desc
									span.price 2,4 tỷ
									span.text Sang quán sữa chua Cô Thỏ 142 Võ Văn Ngân
						.footer-bl
							span.group-cta
								a.btn.btn--s(href="#!") Gia hạn
								a.btn.btn--s(href="#!") Đăng nhật ký
		#d3(style="display:none")
			ul.bl-post-list
				li
					.bl-post
						.head-bl
							span.status Đã bán
							span.date 24 Mar 2020
						.body-bl
							a.content(href="#!")
								span.img(style="background-image:url(http://via.placeholder.com/200x200)")
								.desc
									span.price 2,4 tỷ
									span.text Sang quán sữa chua Cô Thỏ 142 Võ Văn Ngân
						.footer-bl
							span.group-cta.has-only-action
								a.btn.btn--s(href="#!") Rao bán lại
				li
					.bl-post
						.head-bl
							span.status Đã bán
							span.date 24 Mar 2020
						.body-bl
							a.content(href="#!")
								span.img(style="background-image:url(http://via.placeholder.com/200x200)")
								.desc
									span.price 2,4 tỷ
									span.text Sang quán sữa chua Cô Thỏ 142 Võ Văn Ngân
						.footer-bl
							span.group-cta.has-only-action
								a.btn.btn--s(href="#!") Rao bán lại
				li
					.bl-post
						.head-bl
							span.status Đã bán
							span.date 24 Mar 2020
						.body-bl
							a.content(href="#!")
								span.img(style="background-image:url(http://via.placeholder.com/200x200)")
								.desc
									span.price 2,4 tỷ
									span.text Sang quán sữa chua Cô Thỏ 142 Võ Văn Ngân
						.footer-bl
							span.group-cta.has-only-action
								a.btn.btn--s(href="#!") Rao bán lại
		#d4(style="display:none")
			ul.bl-post-list
				li
					.bl-post
						.head-bl
							span.status Từ chối duyệt
							span.date 24 Mar 2020
						.body-bl
							a.content(href="#!")
								span.img(style="background-image:url(http://via.placeholder.com/200x200)")
								.desc
									span.price 2,4 tỷ
									span.text Sang quán sữa chua Cô Thỏ 142 Võ Văn Ngân
.bl-module.module-footer 
	.col-item 
		img.logo(src="images/ZaloHomeAndCar_Logo.png")
		a(href="mailto:homeandcar@zalo.me") Email: <em>Homeandcar@zalo.me</em>
		p Một sản phẩm của Zalo Group
	.col-item 
		h3.title Giới thiệu dịch vụ
		a(href="https://ads.zalo.me/business/wp-content/uploads/2021/06/1.-Thỏa-thuận-sử-dụng-dịch-vụ.pdf" target="_blank") Thỏa thuận sử dụng dịch vụ
		a(href="https://ads.zalo.me/business/wp-content/uploads/2021/06/2.-HỎI-ĐÁP-VỀ-ZALO-HOME-CAR.pdf" target="_blank") Câu hỏi thường gặp
	.col-item 
		h3 Hướng dẫn đăng tin
		a(href="https://ads.zalo.me/business/wp-content/uploads/2021/06/3.-Quy-định-đăng-tin.pdf" target="_blank") Quy định đăng tin
		a(href="https://ads.zalo.me/business/wp-content/uploads/2021/06/4.Quy-dinh-ve-san-pham.pdf" target="_blank") Quy định về sản phẩm
		a(href="https://ads.zalo.me/business/wp-content/uploads/2021/06/5.-Hướng-dẫn-đăng-tin.pdf" target="_blank") Hướng dẫn đăng tin
		a(href="https://ads.zalo.me/business/wp-content/uploads/2021/06/6.-TRỢ-GIÚP-KHI-ĐĂNG-TIN-KHÔNG-THÀNH-CÔNG.pdf" target="_blank") Trợ giúp khi đăng tin không thành công
		a(href="https://ads.zalo.me/business/wp-content/uploads/2021/06/7.-Giải-đáp-khi-đăng-tin-máy-tính.pdf" target="_blank") Giải đáp khi đăng tin bằng máy tính
	.col-item 
		h3 Hướng dẫn thanh toán
		a(href="https://ads.zalo.me/business/wp-content/uploads/2021/06/8.-Quy-định-thu-phí-dịch-vụ.pdf" target="_blank") Quy định thu phí dịch vụ
		a(href="https://ads.zalo.me/business/wp-content/uploads/2021/06/9.-Hướng-dẫn-thanh-toán.pdf" target="_blank") Hướng dẫn thanh toán
		a(href="https://ads.zalo.me/business/wp-content/uploads/2021/06/10.-BÍ-KÍP-GIAO-DỊCH-TRỰC-TUYẾN-AN-TOÀN.pdf" target="_blank") Bí kíp giao dịch trực tuyến an toàn