block home

.bl-module.module-tabs.is-fixed
	ul
		li.tab.active
			a.fs--l(href="#d0") Tất cả
		li.tab
			a.fs--l(href="#d1") Chờ xác nhận
		li.tab
			a.fs--l(href="#d2") Xác nhận
		li.tab
			a.fs--l(href="#d3") Đang vận chuyển

.tab-content.clearfix
	#d0
		.bl-module.m-bottom-2
			.d-flex.justify-content-between.align-items-center.m-bottom-2
				span.color-base.fs--m.m-right-2 <small class="color-grey">Ngày đặt hàng:</small> 10:02, 22/12/2019
				span.flex-shrink-0.color-base.fs--l.fw-bold #111111
			.d-flex.justify-content-between.align-items-center.m-bottom-2
				span.color-base.fs--m.m-right-2 Sim Vinaphone
				span.flex-shrink-0.color-success.fs--s.fw-bold Đơn hàng mới/ Thành công
			//.d-flex.justify-content-between.align-items-center.m-bottom-2
				span.color-base.fs--m.m-right-2 <small class="color-grey">Cửa hàng:</small> Đồ em bé song sinh
				span.flex-shrink-0.color-main.fs--s.fw-bold Đang xử lý/ Đã xác nhận/ Đang vận chuyển
			//.d-flex.justify-content-between.align-items-center.m-bottom-2
				span.color-base.fs--m.m-right-2 <small class="color-grey">Cửa hàng:</small> Đồ em bé song sinh
				span.flex-shrink-0.color-warning.fs--s.fw-bold Hủy/ Chuyển hoàn
			hr.divider
			ul.product-list.is-mt-gutter
				li
					.item-product.is-cart.m-bottom-2
						span.img-product(style="background-image:url(http://via.placeholder.com/240x240)")
						.desc
							h2.product-title.color-base.fs--m.fw-normal.m-bottom-1 Gói cước ECO69
							p.color-base.fs--m.fw-bold.m-bottom-3 500.000đ
							.sl-wrap
								span.color-base.fs--m Số lượng: 1
			hr.divider
			.d-flex.justify-content-between.align-items-center.m-bottom-2
				span.color-base.fs--m.m-right-2 Tổng tiền
				span.color-price.fs--xl.fw-bold 1.000.000đ
			.d-flex.justify-content-between.align-items-center.m-bottom-2
				span.color-base.fs--m.m-right-2 Tình trạng thanh toán
				span.color-base.fs--m Đã thanh toán
			a.func-more-in-bottom.fs--l.fw-medium(href="profile_history_detail_sim.html") Xem chi tiết
		.bl-module.m-bottom-2
			.d-flex.justify-content-between.align-items-center.m-bottom-2
				span.color-base.fs--m.m-right-2 <small class="color-grey">Ngày đặt hàng:</small> 10:02, 22/12/2019
				span.flex-shrink-0.color-base.fs--l.fw-bold #111111
			.d-flex.justify-content-between.align-items-center.m-bottom-2
				span.color-base.fs--m.m-right-2 <small class="color-grey">Cửa hàng:</small> Đồ em bé song sinh
				span.flex-shrink-0.color-success.fs--s.fw-bold Đơn hàng mới/ Thành công
			//.d-flex.justify-content-between.align-items-center.m-bottom-2
				span.color-base.fs--m.m-right-2 <small class="color-grey">Cửa hàng:</small> Đồ em bé song sinh
				span.flex-shrink-0.color-main.fs--s.fw-bold Đang xử lý/ Đã xác nhận/ Đang vận chuyển
			//.d-flex.justify-content-between.align-items-center.m-bottom-2
				span.color-base.fs--m.m-right-2 <small class="color-grey">Cửa hàng:</small> Đồ em bé song sinh
				span.flex-shrink-0.color-warning.fs--s.fw-bold Hủy/ Chuyển hoàn
			hr.divider
			ul.product-list.is-mt-gutter
				li
					.item-product.is-cart.m-bottom-2
						span.img-product(style="background-image:url(http://via.placeholder.com/240x240)")
						.desc
							h2.product-title.color-base.fs--m.fw-normal.m-bottom-1 Vòng Đeo Tay Thông Minh Theo Dõi Vận Động Xiaomi Mi Band 3 - Hàng Chính Hãng
							p.color-base.fs--m.fw-bold.m-bottom-3 500.000đ
							.sl-wrap
								span.color-base.fs--m Số lượng: 1
						p.color-grey.fs--s.m-top-3 Trắng, Hồng, Xanh, 32GB, Bạc
				li
					.item-product.is-cart.m-bottom-2
						span.img-product(style="background-image:url(http://via.placeholder.com/240x240)")
						.desc
							h2.product-title.color-base.fs--m.fw-normal.m-bottom-1 Vòng Đeo Tay Thông Minh Theo Dõi Vận Động Xiaomi Mi Band 3 - Hàng Chính Hãng
							p.color-base.fs--m.fw-bold.m-bottom-3 500.000đ
							.sl-wrap
								span.color-base.fs--m Số lượng: 1
						p.color-grey.fs--s.m-top-3 Trắng, Hồng, Xanh, 32GB, Bạc
			hr.divider
			.d-flex.justify-content-between.align-items-center.m-bottom-2
				span.color-base.fs--m.m-right-2 Tổng tiền
				span.color-price.fs--xl.fw-bold 1.000.000đ
			.d-flex.justify-content-between.align-items-center.m-bottom-2
				span.color-base.fs--m.m-right-2 Tình trạng thanh toán
				span.color-base.fs--m Đã thanh toán
			.d-flex.justify-content-between.align-items-center.m-bottom-2
				span.color-base.fs--m.m-right-2 Đơn vị vận chuyển
				span.color-base.fs--m Box Me
			a.func-more-in-bottom.fs--l.fw-medium(href="profile_history_detail.html") Xem chi tiết
	#d1(style="display:none")
		.bl-module.module-empty.is-transparent
			img.m-bottom-5(src="images/img_non_profile.png" alt=page)
			p.fs--l.fw-medium.text-center.m-bottom-6 Chưa có đơn hàng nào
	#d2(style="display:none")
		p 2222
	#d3(style="display:none")
		p 333





