block home

.alert.alert-success(role="alert")
	i.icn.icn-check-small
	span.fs--m Đơn hàng đã hoàn thành
.alert.alert-warning(role="alert")
	i.icn.icn-bold-delivery
	span.fs--m Đơn hàng đã được xác nhận
.alert.alert-danger(role="alert")
	i.icn.icn-bold-bag-remove
	span.fs--m Đơn hàng đã được hủy
.alert.alert-primary(role="alert")
	span.fs--m Các status khác: Đơn hàng mới, đang xử lý ...

.bl-module.module-order-detail.m-bottom-3
	.d-flex.justify-content-between.align-items-center.m-bottom-3
		h2.color-base.fw-bold.fs--m Thông tin đặt hàng
		span.w-50.color-base.fs--m.fw-bold.flex-shrink-0.text-right ID: #3232323
	.d-flex.justify-content-between.m-bottom-2
		span.color-grey.fs--m Order Date
		span.w-50.color-base.fs--m.flex-shrink-0.text-right 10:02, 29/11/2019
	.d-flex.justify-content-between.m-bottom-2
		span.color-grey.fs--m Lý do hủy đơn hàng
		span.w-50.color-base.fs--m.flex-shrink-0.text-right Dont want to buy
	hr.divider
	.d-flex.justify-content-between.m-bottom-3
		h2.color-base.fw-bold.fs--m Thông tin giao hàng
	.d-flex.justify-content-between.m-bottom-2
		span.color-grey.fs--m Tên người nhận
		span.w-50.color-base.fs--m.flex-shrink-0.text-right Quang Anh
	.d-flex.justify-content-between.m-bottom-2
		span.color-grey.fs--m Số điện thoại
		span.w-50.color-base.fs--m.flex-shrink-0.text-right 0963659872
	.d-flex.justify-content-between.m-bottom-2
		span.color-grey.fs--m Địa chỉ
		span.w-50.color-base.fs--m.flex-shrink-0.text-right 182 Lê Đại Hành. Phường 15. Quận 11. Tp. Hồ Chí Minh
	hr.divider
	.d-flex.justify-content-between.m-bottom-3
		h2.color-base.fw-bold.fs--m Thông tin vận chuyển
	.d-flex.justify-content-between.m-bottom-2
		span.color-grey.fs--m Đơn vị vận chuyển
		span.w-50.color-base.fs--m.flex-shrink-0.text-right Giao hàng nhanh
	.d-flex.justify-content-between.m-bottom-2
		span.color-grey.fs--m Phí vận chuyển
		span.w-50.color-base.fs--m.flex-shrink-0.text-right 11.000đ
	.d-flex.justify-content-between.m-bottom-2
		span.color-grey.fs--m Dự kiến giao hàng
		span.w-50.color-base.fs--m.flex-shrink-0.text-right 1-3 ngày
	.d-flex.justify-content-between.m-bottom-2
		span.color-grey.fs--m Ghi chú
		span.w-50.color-base.fs--m.flex-shrink-0.text-right None
	hr.divider
	.d-flex.justify-content-between.m-bottom-3
		h2.color-base.fw-bold.fs--m Thông tin thanh toán
	.d-flex.justify-content-between.m-bottom-2
		span.color-grey.fs--m Phương thức thanh toán
		span.w-50.color-base.fs--m.flex-shrink-0.text-right COD
	.d-flex.justify-content-between.m-bottom-2
		span.color-grey.fs--m Tình trạng thanh toán
		span.w-50.color-base.fs--m.flex-shrink-0.text-right Đã thanh toán
.heading.heading-in-trans
	span.fs--l.fw-medium Chi tiết đơn hàng
.bl-module
	ul.product-list.is-mt-gutter
		li.has-border5
			.item-product.is-cart.m-bottom-2
				span.img-product(style="background-image:url(http://via.placeholder.com/240x240)")
				.desc
					h2.product-title.color-base.fs--m.fw-normal.m-bottom-1 Vòng Đeo Tay Thông Minh Theo Dõi Vận Động Xiaomi Mi Band 3 - Hàng Chính Hãng
					p.color-base.fs--m.fw-bold.m-bottom-3 500.000đ
					.sl-wrap
						span.color-base.fs--m Số lượng: 1
				p.color-grey.fs--s.m-top-3 Trắng, Hồng, Xanh, 32GB, Bạc
		li.has-border5
			.item-product.is-cart.m-bottom-2
				span.img-product(style="background-image:url(http://via.placeholder.com/240x240)")
				.desc
					h2.product-title.color-base.fs--m.fw-normal.m-bottom-1 Vòng Đeo Tay Thông Minh Theo Dõi Vận Động Xiaomi Mi Band 3 - Hàng Chính Hãng
					p.color-base.fs--m.fw-bold.m-bottom-3 500.000đ
					.sl-wrap
						span.color-base.fs--m Số lượng: 1
				p.color-grey.fs--s.m-top-3 Trắng, Hồng, Xanh, 32GB, Bạc
			a.func-more-in-bottom.fs--l.fw-medium(href="profile_rating.html") Đánh giá
		li.has-border5
			.item-product.is-cart.m-bottom-2
				span.img-product(style="background-image:url(http://via.placeholder.com/240x240)")
				.desc
					h2.product-title.color-base.fs--m.fw-normal.m-bottom-1 Vòng Đeo Tay Thông Minh Theo Dõi Vận Động Xiaomi Mi Band 3 - Hàng Chính Hãng
					p.color-base.fs--m.fw-bold.m-bottom-3 500.000đ
					.sl-wrap
						span.color-base.fs--m Số lượng: 1
				p.color-grey.fs--s.m-top-3 Trắng, Hồng, Xanh, 32GB, Bạc
			a.d-flex.justify-content-between.align-items-center.m-top-3.m-bottom-3(href="profile_rating.html")
				span.color-base.fs--m.m-right-2 Đã đánh giá
				.rated-wrap
					.rating-star
						i.icn.icn-shape-star.active
						i.icn.icn-shape-star.active
						i.icn.icn-shape-star.active
						i.icn.icn-shape-star.active
						i.icn.icn-shape-star
					i.icn.icn-small-right
	.m-bottom-3
	.d-flex.justify-content-between.align-items-center.m-bottom-2
		span.color-base.fs--m.m-right-2 Phí ship
		span.color-base.fs--m 30.000đ
	.d-flex.justify-content-between.align-items-center.m-bottom-2
		span.color-base.fs--m.m-right-2 Tổng tiền
		span.color-price.fs--xl.fw-bold 1.030.000đ
	.btn-wrap.justify-content-center.m-top-5.m-bottom-3
		a.btn.btn-primary.btn--m.w-75(href="javascript:void(0);" data-toggle="modal" data-target="#modal-choose-pay") Thanh toán đơn hàng
a.link-go(href="profile_feedback.html")
	i.icn.icn-chat-round
	span.fs--l Phản hồi đơn hàng
	i.icn.icn-small-right

.btn-wrap.is-outside.m-top-3.m-bottom-3
	a.btn.btn-outline-danger.btn--m.flex-shrink-0.w-auto.pl-3.pr-3.is-shadow(href="#!") Hủy đơn hàng
	a.btn.btn-primary.btn--m.w-100.is-shadow(href="product_detail_chat.html") Chat với cửa hàng

	




