block home

.feature-dockbar
	.context-feature-dockbar
		a.func-back-wrap(href="product_detail.html")
			span.func-back.color-base
				i.icn.icn-small-left
			span.color-base.fs--l.fw-medium Nhắn tin cho shop
	.trans-feature-dockbar

.bl-module.module-store-chat
	ul.product-list
		li
			.item-product
				span.img-product.img-product-60(style="background-image:url(http://via.placeholder.com/240x240)")
				.desc
					h2.color-base.fs--m.fw-normal.m-bottom-1.text-truncate Vòng Đeo Tay Thông Minh Theo Dõi Vận Động Xiaomi Mi Band 3 - Hàng Chính Hãng
					p.color-base.fs--xl.fw-bold 500.000đ
					p.color-grey.fs--m.line-through 41.000đ
					p.color-grey.fs--s Thuộc tính: Xanh, đỏ
	span.d-block.color-base.fs--m.m-bottom-2 Nội dung 
	textarea.d-block.m-bottom-3(type="textarea" placeholder="Tôi muốn hỏi về sản phẩm này" rows="8")
	.custom-control.custom-checkbox
		input(type="checkbox" class="custom-control-input" id="policyCheck")
		label.custom-control-label.is-radius(for="policyCheck") Đồng ý quan tâm OA Name để nhận tin tức mới

.button-dockbar
	.context-button-dockbar
		a.btn.btn-primary.btn--m(href="#!") Gửi tin nhắn
	.trans-button-dockbar








