block home

- var product = []
- product.push({"class":"","name":"Vòng Đeo Tay Thông Minh Theo Dõi Vận Động Xiaomi Mi Band 3 - Hàng Chính Hãng"})
- product.push({"class":"","name":"Tivi LED Sony"})
- product.push({"class":"","name":"Tivi LED Sony 32 inch KDL-32R300E"})
- product.push({"class":"","name":"Vòng Đeo Tay Thông Minh Theo Dõi Vận Động Xiaomi Mi Band 3 - Hàng Chính Hãng"})
- product.push({"class":"","name":"Tivi LED Sony"})
- product.push({"class":"","name":"Tivi LED Sony 32 inch KDL-32R300E"})

.bl-module.module-search
	a.func-back.color-base(href="index.html")
		i.icn.icn-small-left
	.default-form
		.form-row.has-func-reset
			input(type="text" placeholder="Tìm kiếm..." value="")
			a.func-reset(href="#!")
				i.icn.icn-circle-remove
			a.func-search(href="#!")
				i.icn.icn-search

.bl-module.module-notfound
	img.img-main(src="images/img_notfound.png" alt=page)
	p.color-base.fs--l.text-center.m-bottom-5 Không tìm thấy sản phẩm nào	




