block home

.bl-module.module-tabs.is-fixed
	ul
		li.tab.active
			a.fs--l(href="#d0") Đang rao bán
		li.tab
			a.fs--l(href="#d1") Chờ duyệt
		li.tab
			a.fs--l(href="#d2") Đã bán
		li.tab
			a.fs--l(href="#d3") Hết hạn
.tabs-pad

.tab-content.clearfix
	#d0
		.bl-module.module-post-list
			.context-post-list
				ul.list
					li
						a.item(href="#!")
							span.img(style="background:url(http://via.placeholder.com/200x200)")
							.desc
								h2 Asus P5G41T-M LX V2 Desktop Motherboard G41 Socket LGA 775 Q820…
								p 99.000đ
								span.status Đang rao bán
								span.tag Tin này chưa được hiển thị trên Zalo Shop
					li
						a.item(href="#!")
							span.img(style="background:url(http://via.placeholder.com/200x200)")
							.desc
								h2 Asus P5G41T-M LX V2 Desktop Motherboard G41 Socket LGA 775 Q820…
								p 99.000đ
								span.status Đang rao bán
					li
						a.item(href="#!")
							span.img(style="background:url(http://via.placeholder.com/200x200)")
							.desc
								h2 Asus P5G41T-M LX V2 Desktop Motherboard G41 Socket LGA 775 Q820…
								p 99.000đ
								span.status Đang rao bán
					li
						a.item(href="#!")
							span.img(style="background:url(http://via.placeholder.com/200x200)")
							.desc
								h2 Asus P5G41T-M LX V2 Desktop Motherboard G41 Socket LGA 775 Q820…
								p 99.000đ
								span.status Đang rao bán
					li
						a.item(href="#!")
							span.img(style="background:url(http://via.placeholder.com/200x200)")
							.desc
								h2 Asus P5G41T-M LX V2 Desktop Motherboard G41 Socket LGA 775 Q820…
								p 99.000đ
								span.status Đang rao bán
					li
						a.item(href="#!")
							span.img(style="background:url(http://via.placeholder.com/200x200)")
							.desc
								h2 Asus P5G41T-M LX V2 Desktop Motherboard G41 Socket LGA 775 Q820…
								p 99.000đ
								span.status Đang rao bán
			.button-dockbar
				.context-button-dockbar
					a.btn.btn-primary.btn--m.w-100.ml-0(href="create_sell_post.html") Đăng tin rao bán
	#d1(style="display:none")
	#d2(style="display:none")
		.bl-module.module-post-list
			.context-post-list
				ul.list
					li
						a.item(href="#!")
							span.img(style="background:url(http://via.placeholder.com/200x200)")
							.desc
								h2 Asus P5G41T-M LX V2 Desktop Motherboard G41 Socket LGA 775 Q820…
								p 99.000đ
								span.status Đang rao bán
	#d3(style="display:none")





