block home
.bl-module.module-share-timeline
	.tl-head
		span.text Nhập mô tả
	.tl-body
		.content
			p Lorem isum  Lorem isum Lorem isum Lorem isum Lorem isum Lorem isum Lorem isum Lorem isum Lorem isum Lorem isum  Lorem isum Lorem isum Lorem isum Lorem isum Lorem isum Lorem isum 
			a.cta(href="#!") Xem thêm <i class="icn icn-small-down"></i>
		.info
			//- thẻ img có 3 trường hợp ( hình có 1 tấm, 2 tấm, 3 tấm)
			span.img(style="background-image:url(images/img_sharetimeline.png)")
			span.img(style="background-image:url(images/img_sharetimeline2.png)")
			span.img(style="background-image:url(images/img_sharetimeline3.png)")
			.desc-info
				span.text
					span.link Shop.me
					span.title Sang nhượng căn hộ dự án Sunrise City 3PN, 3WC. CĂN GÓC VIEW LANDMARK, PARK HYATT SANG CHẢNH 
					span.desc 2,500,000,000 - Quận 3, Tp.Hồ Chí Minh
				span.cta
					a.func-share(href="#func-share")
						i.icn.icn-share

	.tl-footer.is-fixed
		.footer-notice
			i.icn.icn-users
			span.text Tin này được xem bởi tất cả bạn bè Zalo
		a.btn.btn-primary.btn--m.w-100(href="#!") Đăng lên nhật ký