.bl-module.module-template-inform 
	.template-content 
		a.img(href="#!")
			img(src="http://placehold.it/300")
		p.title Title
		p Desciption
	.btn-group 
		a.btn.btn-primary.btn--m.w-100(href="#!") Button 1
		a.btn.btn-outline-primary.btn--m.w-100(href="#!") Button 2
	