block footer

.context-dockbar.is-listing
	ul
		li
			a(href="bds_listing.html")
				i.icn.icn-ue60-home
				span.text Trang chủ
		li
			a(href="create_sell_post.html")
				i.icn.icn-bold-circle-add
				span.text Đăng bán
		li
			a(href="profile_v2.html")
				i.icn.icn-account
				span.text Tài khoản
		
.trans-dockbar
