block footer

.context-dockbar.homepage-shop.is-listing(data-step="3" data-disable-interaction='true'  data-intro="<strong>Đăng bán</strong> Bất động sản hoặc xe của bạn nhanh chóng dễ dàng" data-tooltipclass="forLastStep")
	ul
		li
			a(href="index.html")
				i.icn.icn-ue60-home
				span.text Trang chủ
		li
			a(href="create_sell_post.html")
				i.icn.icn-bold-circle-add
				span.text Đăng tin
		li
			a(href="profile.html")
				i.icn.icn-account
				span.text Tài khoản
		
.trans-dockbar
