block Modal

.modal.fade.modal-center(id="modal-banner-home" tabindex="-1" role="dialog")
	.modal-dialog(role="document")
		.modal-content.is-transparent
			a.func-close-transparent(data-dismiss="modal" aria-label="Close") ĐÓNG [x]
			.context-banner-home
				a(href="bds_listing.html")
					img(src="images/HnC_mobile_home_Popup_GIF_300x400.gif")
				//- a.btn.btn-primary.btn--m(href="#!") Tham gia ngay
