.modal.fade.modal-center(id="modal-template-popup" tabindex="-1" role="dialog")
	.modal-dialog(role="document")
		.modal-content
			.modal-header
				a.func-close(data-dismiss="modal" aria-label="Close")
					i.icn.icn-small-remove
			.context-banner-home
				a.img(href="#!")
					img(src="http://placehold.it/100")
				p Description	
				a.btn.btn-primary.btn--m.w-100(href="#!") Button 1