block Modal

.modal.fade.modal-center(id="modal-confirm-delete" tabindex="-1" role="dialog")
	.modal-dialog(role="document")
		.modal-content
			.modal-header
				span.color-base.fs--l.fw-medium Thông báo từ hệ thống
				a.func-close(data-dismiss="modal" aria-label="Close")
					i.icn.icn-small-remove
			.modal-body
				.context-default.text-center
					p Bạn có muốn xóa món hàng này không?
			.modal-footer
				.button-wrap.is-multi-button
					a.btn.btn-outline-danger.btn--m(href="#!") Bỏ món hàng
					a.btn.btn-primary.btn--m.m-left-3(href="#!") Kiểm tra lại
