block Modal

.modal.fade.modal-center(id="modal-edit-action1" tabindex="-1" role="dialog")
	.modal-dialog(role="document")
		.modal-content
			.modal-header
				span.color-base.fs--l.fw-medium Thông báo
				a.func-close(data-dismiss="modal" aria-label="Close")
					i.icn.icn-small-remove
			.modal-body
				.context-default.text-center
					p Sản phẩm này đã bán thành công?
			.modal-footer
				.button-wrap.is-multi-button
					a.btn.btn-outline-primary.btn--m(href="#!") Không
					a.btn.btn-primary.btn--m.m-left-3.func-open-toast(href="survey.html") Đã bán
