//- ====================== SETUP HTML ==============================
- var page = "#!"
- var responsiveDevice = "width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0"
- var description = "description here"


//------------------------------ URL ------------------------------
- var Url = ""