header#header
	.container
		.content-wrapper
			.pos-left
				a.logo(href="#!")
					img(src="../assets/images/logo.png", alt="")
				button.btn.btn-outline-dark Contact
				button.hamburger(onclick='toggleMenu()')
					span.hamburger-line.hamburger-line-1
					span.hamburger-line.hamburger-line-2
					span.hamburger-line.hamburger-line-3
			.pos-center
				nav.desktop
					ul
						li.item-nav
							a(href="#hero") Home
						li.item-nav
							a(href="#introduction") About
						li.item-nav
							a(href="#skill") Skill
						li.item-nav
							a(href="#canDo") Portfolio
						li.item-nav
							a(href="#blog") Blog
						li.item-nav
							a(href="#contact") Contact	
				nav.navMobile
					a.logo(href="#!")
						img(src="../assets/images/logo.png", alt="")
						p Medad Tran
					ul
						li.item-nav
							a(href="#hero") Home
						li.item-nav
							a(href="#introduction") About
						li.item-nav
							a(href="#skill") Skill
						li.item-nav
							a(href="#canDo") Portfolio
						li.item-nav
							a(href="#blog") Blog
						li.item-nav
							a(href="#contact") Contact
					.closeNav(onclick='closeMenu()')
						img(src="../assets/images/ico_close.png", alt="")
			.pos-right
				button.btn.btn-primary.btn-rounded Contact