script(src="../assets/javascript/bootstrap/bootstrap.bundle.min.js")
script(src="../assets/javascript/bootstrap/bootstrap.esm.min.js")
script(src="../assets/javascript/bootstrap/bootstrap.min.js")
script(src="../assets/javascript/main.js")
