.header
	.header-contain
		img.logo(src="images/landing/ZaloHomeAndCar_Logo.png")
		a.btn.btn-primary(href="#!") Đăng tin ngay
.module-intro
	.text-content 
		h1.desktop MIỄN PHÍ ĐĂNG TIN - ĐẨY TIN LÊN TOP
		h1.mobile MIỄN PHÍ ĐĂNG TIN<br>ĐẨY TIN LÊN TOP
		p.gray Ưu đãi khủng từ Zalo Home & Car với dịch vụ hoàn toàn mới
		a.btn.btn-primary(hre="#!") Đăng tin ngay 
.module-about

	img.icon(src="images/landing/Home&Car_Icon.png")
	.text-content 
		h3 Home & Car 
		p Dịch vụ đăng tin mua bán nhà và xe trên Zalo dành cho môi giới và chính chủ.
	.block-contain-swipers 
		.swiper-desktop
			.phone-swiper
				.phone-container
					.swiper-container#phone-swiper
						.swiper-wrapper
							.swiper-slide(data-swiper-autoplay="7240")
								img(src="images/landing/gif1.gif" alt="")
								
							.swiper-slide(data-swiper-autoplay="7150")
								img(src="images/landing/gif3.gif" alt="")

							.swiper-slide(data-swiper-autoplay="5000")
								img(src="images/landing/gif2.gif" alt="")

							.swiper-slide(data-swiper-autoplay="7000")
								img(src="images/landing/gif4.gif" alt="")
						.swiper-pagination
					
				//- img.phone-frame(src="images/landing/phone_frame.png") 
				.ico-oval
			.block-about 
				.col-about.left
					.item 
						img(src="images/landing/ico-dang-tin-tien-loi.png")
						h4 Đăng tin tiện lợi
						p Thao tác đơn giản, giao diện bắt mắt, thông tin rõ ràng
					.item 
						img(src="images/landing/ico-mien-phi-dang-tin.png")
						h4 Miễn phí hiển thị
						p Không mất phí đăng tin cơ bản. Giá dịch vụ bổ sung cạnh tranh.
					
					
				.col-about.right 
					
					.item 
						img(src="images/landing/ico-do-phu-rong.png")
						h4 Tiếp cận rộng rãi
						p Hơn 64 triệu người xem tin hàng tháng, và đang tăng lên từng ngày.
					.item 
						img(src="images/landing/ico-tro-chuyen-de-dang.png")
						h4 Liên hệ dễ dàng
						p Miễn phí nhắn tin, gọi điện và lưu thông tin người quan tâm qua Zalo.
		.swiper-mobile
			.phone-swiper
				.phone-container
					.swiper-container#phone-swiper-mb
						.swiper-wrapper
							.swiper-slide(data-swiper-autoplay="7240")
								
								.about-item
									//- img(src="images/landing/ico-dang-tin-tien-loi.png")
									h4 Đăng tin tiện lợi
								img(src="images/landing/gif1.gif" alt="")
							.swiper-slide(data-swiper-autoplay="5000")
								
								.about-item
									//- img(src="images/landing/ico-do-phu-rong.png")
									h4 Tiếp cận rộng rãi
								img(src="images/landing/gif2.gif" alt="")
							.swiper-slide(data-swiper-autoplay="5000")
								
								.about-item
									//- img(src="images/landing/ico-mien-phi-dang-tin.png")
									h4 Miễn phí hiển thị
								img(src="images/landing/gif3.gif" alt="")
							.swiper-slide(data-swiper-autoplay="7150")
								
								.about-item
									//- img(src="images/landing/ico-tro-chuyen-de-dang.png")
									h4 Liên hệ dễ dàng
								img(src="images/landing/gif4.gif" alt="")
							
							
						.swiper-pagination
				//- img.phone-frame(src="images/landing/phone_frame.png") 
				.ico-oval
.bg-linear-gradient-blue(style="display: none") 
	.module-product-cate 
		h3 Các loại tin 
		.tab-container
			.tab-choose 
				.item#cate_1.active
					span Gói Vàng 
				.item#cate_2
					span Gói Kim Cương 
				.item#cate_3
					span Tính năng nổi bật 
				.item#cate_4
					span Tin cơ bản
			.nav-tab#nav-left
				i.icz.icz-left 
			.nav-tab#nav-right 
				i.icz.icz-right
				
		.content-cate 
			.block-cate#item_1.active
				img(src="images/landing/img_tinvang.png")
				.text 
					h4 Gói Vàng
					ul 
						li Tiêu đề được in hoa.
						li Giá có màu xanh, nổi bật hơn tin cơ bản.
						li Hiển thị ưu tiên ngay sau các tin mua gói Kim Cương trên chuyên trang.
						li Có thể mua kèm tính năng tin nổi bật.
			.block-cate#item_2
				
				img(src="images/landing/img_tinkimcuong.png")
				.text 
					h4 Gói Kim cương 
					ul 
						li Tiêu đề được in hoa, gắn nhãn kim cương.
						li Giá có màu đỏ, nổi bật hơn tin cơ bản.
						li Hiển thị ưu tiên ở các vị trí đầu trên chuyên trang.
						li Có thể mua kèm tính năng tin nổi bật.
			.block-cate#item_3
				
				img(src="images/landing/img_noibat.png")
				.text 
					h4 Tính năng nổi bật 
					ul 
						li Tính năng được mua kèm dành cho tin có sử dụng gói Vàng hoặc gói Kim Cương.
						li Giá và tiêu đề của tin tương ứng với gói Vàng hoặc gói Kim Cương đã mua.
						li Tăng diện tích vùng hiển thị tin đăng.
						li Gắn nhãn nổi bật cho tin đăng.
						li Gắn nút Nhắn tin đến Zalo ngay trên tin đăng.
			.block-cate#item_4
				
				img(src="images/landing/img_tinthuong.png")
				.text 
					h4 Tin cơ bản
					ul 
						li Miễn phí đăng tin
						li Tin đăng sẽ được tìm thấy trên Zalo Home & Car trong vòng 30 ngày
.module-price-table(style="display: none") 
	h3 Bảng giá các loại tin
	.nav.nav-pills
		.nav-item
			.nav-link#n_home.active Bất động sản 
		.nav-item 
			.nav-link#n_car Xe cộ
	.table-wrapper
		.table-price#home.active
			table 
				thead 
					tr.same-heigh-row 
						th.fixed
							h3 Chi phí (VNĐ)
						th 
							h3 Gói cơ bản 
						th(style="border-right:0")  
							h3 Gói vàng 
						th.is-diamond(style="border-radius: 4px 4px 0 0;")
							img.diamond(src='images/landing/ico-diamond.png')
							h3.is-diamond Gói Kim Cương
				tbody 
					tr 
						th.fixed
							h5 1 ngày 
						td 
							p -
						td(style="border-right:0")  
							p 8.000
						td.is-diamond 
							p 15.000
					tr 
						th.fixed
							h5 7 ngày 
						td 
							p -
						td(style="border-right:0")  
							p 55.000
						td.is-diamond 
							p 100.000
					tr 
						th.fixed
							h5 30 ngày 
						td 
							p Miễn phí
						td(style="border-right:0")  
							p 230.000
						td.is-diamond 
							p 420.000
					tr.same-heigh-row 
						th.fixed
							h3 Mua kèm Tính năng nổi bật
							p.blue (Dành cho Gói Vàng và Gói Kim Cương)
						th 
						th(style="border-right:0")   
						td.is-diamond
					tr 
						th.fixed
							h5 1 ngày 
						td 
							p -
						td(style="border-right:0")  
							p 15.000
						td.is-diamond 
							p 15.000
					tr 
						th.fixed
							h5 7 ngày 
						td 
							p -
						td(style="border-right:0")  
							p 100.000
						td.is-diamond 
							p 100.000
					tr 
						th.fixed
							h5 30 ngày 
						td 
							p -
						td(style="border-right:0") 
							p 420.000
						td.is-diamond(style="border-bottom:0; border-radius: 0 0 4px 4px;")
							p 420.000
		.table-price#car
			table 
				thead 
					tr.same-heigh-row 
						th.fixed
							h3 Chi phí (VNĐ)
						th 
							h3 Gói cơ bản 
						th(style="border-right:0")  
							h3 Gói vàng 
						th.is-diamond
							img.diamond(src='images/landing/ico-diamond.png')
							h3.is-diamond Gói Kim Cương
				tbody 
					tr 
						th.fixed
							h5 1 ngày 
						td 
							p -
						td(style="border-right:0")  
							p 6.000
						td.is-diamond 
							p 10.000
					tr 
						th.fixed
							h5 7 ngày 
						td 
							p -
						td(style="border-right:0")  
							p 41.000
						td.is-diamond 
							p 66.000
					tr 
						th.fixed
							h5 30 ngày 
						td 
							p Miễn phí
						td(style="border-right:0")  
							p 170.000
						td.is-diamond 
							p 280.000
					tr.same-heigh-row 
						th.fixed
							h3 Mua kèm Tính năng nổi bật
							p.blue (Dành cho Gói Vàng và Gói Kim Cương)
						th(style="border-right:0")  
						th 
						td.is-diamond
					tr 
						th.fixed
							h5 1 ngày 
						td 
							p -
						td(style="border-right:0")  
							p 10.000
						td.is-diamond 
							p 10.000
					tr 
						th.fixed
							h5 7 ngày 
						td 
							p -
						td(style="border-right:0")  
							p 66.000
						td.is-diamond 
							p 66.000
					tr 
						th.fixed
							h5 30 ngày 
						td 
							p -
						td(style="border-right:0")  
							p 280.000
						td.is-diamond(style="border-bottom:0; border-radius: 0 0 4px 4px;") 
							p 280.000

	a.btn.btn-primary(hre="#!") Đăng tin ngay 
.module-service-push-post 
	img.bg-example(src="images/landing/HnC_LandingPage_Gif9_640x1152.gif")
	.sevice-info 
		h3.title Dịch vụ đẩy tin
		p.gray Tin được đẩy lên đầu ngay lập tức trong kết quả tìm kiếm
		.list-type-price
			.item 
				h4 Bất động sản
				p 10.000đ/lần
				p.old 15.000đ
				.sale Tiết kiệm 33%
			.item 
				h4 Xe cộ
				p 7.000đ/lần
				p.old 10.000đ
				.sale Tiết kiệm 30%
a.btn.btn-primary(hre="#!") Đăng tin ngay 
.module-guide-by-img 
	.is-mobile 
		h3.title Hướng dẫn truy cập<br>ứng dụng Home & Car<br>Trên Zalo
		img(src="./images/landing/introduce_mobile.png")
		.step 
			p Bước 1: Vào mục <span>Thêm</span>
			p Bước 2: Chọn <span>Home & Car</span>
	.is-desktop 
		h3.title Hướng dẫn truy cập ứng dụng<br>Home & Car trên Zalo
		img(src="./images/landing/introduce_desktop.png")

.fixed-support-cta
	a(href="mailto:homeandcar@zalo.me")
		i.icz.icz-question
		|Hỗ trợ
.bg-light-blue
	.module-footer.is-desktop
		.col-item 
			img.logo(src="images/landing/ZaloHomeAndCar_Logo.png")
			a(href="mailto:homeandcar@zalo.me") Email: <em>Homeandcar@zalo.me</em>
			p Một sản phẩm của Zalo Group
		.col-item 
			h3.title Giới thiệu dịch vụ
			a(href="https://ads.zalo.me/business/wp-content/uploads/2021/06/1.-Thỏa-thuận-sử-dụng-dịch-vụ.pdf" target="_blank") Thỏa thuận sử dụng dịch vụ
			a(href="https://ads.zalo.me/business/wp-content/uploads/2021/06/2.-HỎI-ĐÁP-VỀ-ZALO-HOME-CAR.pdf" target="_blank") Câu hỏi thường gặp
		.col-item 
			h3 Hướng dẫn đăng tin
			a(href="https://ads.zalo.me/business/wp-content/uploads/2021/06/3.-Quy-định-đăng-tin.pdf" target="_blank") Quy định đăng tin
			a(href="https://ads.zalo.me/business/wp-content/uploads/2021/06/4.Quy-dinh-ve-san-pham.pdf" target="_blank") Quy định về sản phẩm
			a(href="https://ads.zalo.me/business/wp-content/uploads/2021/06/5.-Hướng-dẫn-đăng-tin.pdf" target="_blank") Hướng dẫn đăng tin
			a(href="https://ads.zalo.me/business/wp-content/uploads/2021/06/6.-TRỢ-GIÚP-KHI-ĐĂNG-TIN-KHÔNG-THÀNH-CÔNG.pdf" target="_blank") Trợ giúp khi đăng tin không thành công
			a(href="https://ads.zalo.me/business/wp-content/uploads/2021/06/7.-Giải-đáp-khi-đăng-tin-máy-tính.pdf" target="_blank") Giải đáp khi đăng tin bằng máy tính
		.col-item 
			h3 Hướng dẫn thanh toán
			a(href="https://ads.zalo.me/business/wp-content/uploads/2021/06/8.-Quy-định-thu-phí-dịch-vụ.pdf" target="_blank") Quy định thu phí dịch vụ
			a(href="https://ads.zalo.me/business/wp-content/uploads/2021/06/9.-Hướng-dẫn-thanh-toán.pdf" target="_blank") Hướng dẫn thanh toán
			a(href="https://ads.zalo.me/business/wp-content/uploads/2021/06/10.-BÍ-KÍP-GIAO-DỊCH-TRỰC-TUYẾN-AN-TOÀN.pdf" target="_blank") Bí kíp giao dịch trực tuyến an toàn
	.module-footer.is-mobile
		.col-item 
			h3 Hướng dẫn đăng tin
			a(href="https://ads.zalo.me/business/wp-content/uploads/2021/06/3.-Quy-định-đăng-tin.pdf" target="_blank") Quy định đăng tin
			a(href="https://ads.zalo.me/business/wp-content/uploads/2021/06/4.Quy-dinh-ve-san-pham.pdf" target="_blank") Quy định về sản phẩm
			a(href="https://ads.zalo.me/business/wp-content/uploads/2021/06/5.-Hướng-dẫn-đăng-tin.pdf" target="_blank") Hướng dẫn đăng tin
			a(href="https://ads.zalo.me/business/wp-content/uploads/2021/06/6.-TRỢ-GIÚP-KHI-ĐĂNG-TIN-KHÔNG-THÀNH-CÔNG.pdf" target="_blank") Trợ giúp khi đăng tin không thành công
			a(href="https://ads.zalo.me/business/wp-content/uploads/2021/06/7.-Giải-đáp-khi-đăng-tin-máy-tính.pdf" target="_blank") Giải đáp khi đăng tin bằng máy tính
		.col-item 
			h3 Hướng dẫn thanh toán
			a(href="https://ads.zalo.me/business/wp-content/uploads/2021/06/8.-Quy-định-thu-phí-dịch-vụ.pdf" target="_blank") Quy định thu phí dịch vụ
			a(href="https://ads.zalo.me/business/wp-content/uploads/2021/06/9.-Hướng-dẫn-thanh-toán.pdf" target="_blank") Hướng dẫn thanh toán
			a(href="https://ads.zalo.me/business/wp-content/uploads/2021/06/10.-BÍ-KÍP-GIAO-DỊCH-TRỰC-TUYẾN-AN-TOÀN.pdf" target="_blank") Bí kíp giao dịch trực tuyến an toàn
		.col-item 
			h3.title Giới thiệu dịch vụ
			a(href="https://ads.zalo.me/business/wp-content/uploads/2021/06/1.-Thỏa-thuận-sử-dụng-dịch-vụ.pdf" target="_blank") Thỏa thuận sử dụng dịch vụ
			a(href="https://ads.zalo.me/business/wp-content/uploads/2021/06/2.-HỎI-ĐÁP-VỀ-ZALO-HOME-CAR.pdf" target="_blank") Câu hỏi thường gặp	
		.col-item 
			img.logo(src="images/landing/ZaloHomeAndCar_Logo.png")
			a(href="mailto:homeandcar@zalo.me") Email: <em>Homeandcar@zalo.me</em>
			p Một sản phẩm của Zalo Group