block home

ul#menu-accordion
	//- li.menu-category
	//- 	a(href="index.html")
	//- 		i.icz.icz-shop
	//- 		span Rao bán
	li.menu-category
		a(href="product_lite.html")
			i.icz.icz-shop
			span Danh sách tin đăng
	li.menu-category
		a(href="pricing_lite.html")
			i.icz.icz-fill-goal
			span Gói nâng cấp
	li.menu-category
		a(href="pricing_history.html")
			i.icz.icz-restore
			span Lịch sử thanh toán








