block home

.header-intro.d-flex.align-items-center.mb-3
	nav(aria-label="breadcrumb")
		ol.breadcrumb.mb-0
			li.breadcrumb-item
				a(href="product_lite.html") Danh sách tin đăng
			li.breadcrumb-item.active(aria-current="page") Chi tiết tin đăng

form
	.container-fluid
		.row
			.col-8
				.bl-module.blk-push-post-now 
					.blk-bar
						.page-location
							.tooltip-page-num Trang 20
						.bar
							i.icz.icz-left
						.blk-text 
							p Trang đầu
							p Trang cuối 
					p Tin của bạn đang ở 
						strong Trang 20 
						|trong 
						strong Bất động sản 
						|tại 
						strong Quận 1, TP Hồ Chí Minh
					a.btn.btn-primary.btn--m Đẩy tin ngay
				.bl-module.module-form-create-lite
					a.edit-product-button(href='#!')
						i.icz.icz-fill-edit
					.form-group
						label(for="") Tên sản phẩm
						p Apple Watch 4 44mm (GPS) Viền Nhôm Xám - Dây Đen
					.form-group
						label(for="") Giá (VND)
						p 15 triệu
					.form-group
						label(for="") Mô tả
						p CÒN TIN CÒN MÁY NHÉ CÁC BẠN.
						p Mình có ship COD toàn quốc nhé.
						p Free ship nội thành TP HCM.
						p Có hỗ trợ trả góp qua thẻ tín dụng 0% lãi suất.
						p Apple Watch Series 3
						p Bản GPS , 42mm , hàng LLA ( Mỹ )
						p Màu Grey
						p Ngoại hình 98% ( mặt đít hơi sờn nhẹ , màn xước nhẹ , viền đẹp )
						p Bán giá tốt cho ae trải nghiệm
						p Máy nguyên zin, chưa sửa chữa, Ko lỗi vặt, pin cực tốt.
						p Máy mình đã test kĩ , có nhận giao lưu nhưng chỉ giao lưu máy zin chuẩn , ko sửa chữa.
						p Tình trạng máy có sao nói vậy cho đỡ mất thời gian 2 bên. Mình có hướng dẫn test cụ thể cho mọi người. Bao test thêm 1 tuần thoải mái lỗi mình hoàn tiền.
						p Phụ kiện: dây đeo , dock sạc đầy đủ
						p CÒN TIN CÒN MÁY NHÉ CÁC BẠN.
					.form-group
						label(for="") Hình ảnh
						.list-img 
							img(src="http://via.placeholder.com/100x100")
							img(src="http://via.placeholder.com/100x100")
							img(src="http://via.placeholder.com/100x100")
							img(src="http://via.placeholder.com/100x100")
							img(src="http://via.placeholder.com/100x100")
							img(src="http://via.placeholder.com/100x100")
							img(src="http://via.placeholder.com/100x100")
							img(src="http://via.placeholder.com/100x100")
							img(src="http://via.placeholder.com/100x100")
					.form-group 
						label(for="") Địa điểm
						p Quận 12, TP Hồ Chí Minh 
					.form-group 
						label(for="") Đặc điểm
						p Diện tích: 60m2
			.col-4
				.bl-module.module-form-create-lite
					.form-group.mb-0
						label(for="") Gói đẩy tin đang chạy 
						p Gói đẩy tin Vàng từ 01/01/2021 đến 31/01/2021
						p Kèm tính năng Tin Nổi Bật từ 01/01/2021 đến 15/01/2021
						.banner-pricing
							a(href="pricing_lite.html")
								img(src="images/BnS_Slot-Upgrade_645x200.jpeg")
						.banner-pricing
							a(href="pricing_lite.html")
								img(src="images/BnS_VIPupgrade_645x200.jpeg")
						.banner-pricing.has-popup
							.block-push-ad 
								.text 
									p.title Gói đẩy KIM CƯƠNG 
									p Từ 01/01/2021 đến 01/01/2022
								a.btn.btn--m Gia hạn
							.update-special-feature 
								.text
									p.title Kèm tính năng TIN NỔI BẬT
									p Từ 01/01/2021 đến 01/01/2022
								a.btn.btn--m Gia hạn
						
				.bl-module.module-form-create-lite
					.form-group.mb-0
						label(for="") Trạng thái
						.status.is-success
							span Đang rao bán
						label Chuyển trạng thái
						a.btn.btn-primary.btn--m.w-100 Đánh dấu đã bán
				.bl-module.module-form-create-lite
					.form-group.mb-0
						label Scan mã QR để xem tin rao hiển thị trên điện thoại 
						img.d-block.mx-auto(src="https://upload.wikimedia.org/wikipedia/commons/thumb/d/d0/QR_code_for_mobile_English_Wikipedia.svg/1200px-QR_code_for_mobile_English_Wikipedia.svg.png")
						a.btn.btn-primary.btn--m.w-100.mt-3  Đăng lên nhật ký








