block home

- var table = []
- table.push({"class":""})
- table.push({"class":""})
- table.push({"class":""})
- table.push({"class":""})
- table.push({"class":""})
- table.push({"class":""})

.header-intro.d-flex.align-items-center.mb-3
	nav(aria-label="breadcrumb")
		ol.breadcrumb.mb-0
			li.breadcrumb-item.active(aria-current="page") Thống kê đơn hàng
	.d-flex.align-items-center.ml-auto.mr-2
		.dropdown
			a.btn.btn-default.btn--m.dropdown-toggle(href="#!" role="button" id="dropdown-table" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false") 7 ngày trước
			.dropdown-menu.dropdown-menu-right(aria-labelledby="dropdown-table")
				ul
					li
						a(href="#!") 30 ngày trước
					li.is-checked
						a(href="#!") Tháng trước
					li
						a(href="#!") Tháng này
		.form-group.ml-2.mb-0
			.input-group(style="width:250px")
				.input-group-append
					span.input-group-ico
						i.icz.icz-fill-calendar
				input.form-control(type="text" name="daterange" value="01/01/2018 - 01/15/2018" autocomplete="off")
		

form
	.container-fluid
		.row
			.col-12
				.bl-module
					.chart-container
						img.d-block.ml-auto.mr-auto(src="images/img_chart1.png" alt=page)
			







