block footer

.container-fluid
	.row
		.col-12.module-footer.row 
			.col-item.col-3 
				img.logo(src="images/landing/ZaloHomeAndCar_Logo.png")
				a(href="mailto:homeandcar@zalo.me") Email: <em>Homeandcar@zalo.me</em>
				p Một sản phẩm của Zalo Group
			.col-item.col-3
				h3.title Giới thiệu dịch vụ
				a(href="https://ads.zalo.me/business/wp-content/uploads/2021/06/1.-Thỏa-thuận-sử-dụng-dịch-vụ.pdf" target="_blank") Thỏa thuận sử dụng dịch vụ
				a(href="https://ads.zalo.me/business/wp-content/uploads/2021/06/2.-HỎI-ĐÁP-VỀ-ZALO-HOME-CAR.pdf" target="_blank") Câu hỏi thường gặp
			.col-item.col-3
				h3 Hướng dẫn đăng tin
				a(href="https://ads.zalo.me/business/wp-content/uploads/2021/06/3.-Quy-định-đăng-tin.pdf" target="_blank") Quy định đăng tin
				a(href="https://ads.zalo.me/business/wp-content/uploads/2021/06/4.Quy-dinh-ve-san-pham.pdf" target="_blank") Quy định về sản phẩm
				a(href="https://ads.zalo.me/business/wp-content/uploads/2021/06/5.-Hướng-dẫn-đăng-tin.pdf" target="_blank") Hướng dẫn đăng tin
				a(href="https://ads.zalo.me/business/wp-content/uploads/2021/06/6.-TRỢ-GIÚP-KHI-ĐĂNG-TIN-KHÔNG-THÀNH-CÔNG.pdf" target="_blank") Trợ giúp khi đăng tin không thành công
				a(href="https://ads.zalo.me/business/wp-content/uploads/2021/06/7.-Giải-đáp-khi-đăng-tin-máy-tính.pdf" target="_blank") Giải đáp khi đăng tin bằng máy tính
			.col-item.col-3
				h3 Hướng dẫn thanh toán
				a(href="https://ads.zalo.me/business/wp-content/uploads/2021/06/8.-Quy-định-thu-phí-dịch-vụ.pdf" target="_blank") Quy định thu phí dịch vụ
				a(href="https://ads.zalo.me/business/wp-content/uploads/2021/06/9.-Hướng-dẫn-thanh-toán.pdf" target="_blank") Hướng dẫn thanh toán
				a(href="https://ads.zalo.me/business/wp-content/uploads/2021/06/10.-BÍ-KÍP-GIAO-DỊCH-TRỰC-TUYẾN-AN-TOÀN.pdf" target="_blank") Bí kíp giao dịch trực tuyến an toàn