block header

.header-topbar
	.logo
		a(href="index.html")
	.menu-user
		ul
			li.dropdown
				a.dropdown-toggle(href="#" role="button" id="dropdown-page" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false")
					span.user-info
						.avatar.avatar--s
							span.avatar-img(style="background-image:url(http://via.placeholder.com/200x200)")
						span.name.text-truncate OA Page Title
				.dropdown-menu.dropdown-menu-right(aria-labelledby="dropdown-page")
					ul
						li
							a(href="#!") Page 0A 1
						li
							a(href="#!") Page 0A 2
						li.has-button
							a.btn.btn-primary.btn--m(href="#!") Quản lý Official Account
			li.dropdown
				a.dropdown-toggle(href="#" role="button" id="dropdown-user" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false")
					span.user-info
						.avatar.avatar--s
							span.avatar-img(style="background-image:url(http://via.placeholder.com/200x200)")
						span.name.text-truncate Laguna Loire
				.dropdown-menu.dropdown-menu-right(aria-labelledby="dropdown-user")
					ul
						li
							a(href="#!") Profile
						li
							a(href="#!") Sign out
			li.dropdown
				a.dropdown-toggle(href="#" role="button" id="dropdown-lang" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false")
					span.lang VI
				.dropdown-menu.dropdown-menu-right.dropdown-min(aria-labelledby="dropdown-lang")
					ul
						li
							a(href="#!") VI
						li
							a(href="#!") EN
.header-menu
	ul.menu-oa
		li
			a.justify-content-center.active(href="#!")
				i.icz.icz-home-minimal
		li.dropdown
			a.dropdown-toggle(href="#" role="button" id="dropdown-m1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false") <i class="icz icz-help"></i>Broadcast
			.dropdown-menu(aria-labelledby="dropdown-m1")
				ul
					li
						a(href="#!") Broadcast 1
					li
						a(href="#!") Broadcast 2
		li
			a(href="#!") <i class="icz icz-chat"></i>Chat
		li.dropdown
			a.dropdown-toggle(href="#" role="button" id="dropdown-m4" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false") <i class="icz icz-article"></i>Quản lý nội dung
			.dropdown-menu(aria-labelledby="dropdown-m4")
				ul
					li
						a(href="#!") Official Account 1
					li
						a(href="#!") Official Account 2
		li.dropdown
			a.dropdown-toggle(href="#" role="button" id="dropdown-m3" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false") <i class="icz icz-chart"></i>Thống kê
			.dropdown-menu(aria-labelledby="dropdown-m3")
				ul
					li
						a(href="#!") Official Account 1
					li
						a(href="#!") Official Account 2
		li.dropdown
			a.dropdown-toggle(href="#" role="button" id="dropdown-m2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false") <i class="icz icz-webpage"></i>Quản lý
			.dropdown-menu(aria-labelledby="dropdown-m2")
				ul
					li
						a(href="#!") Official Account 1
					li
						a(href="#!") Official Account 2
	ul.menu-oa.is-right
		li.dropdown
			a.dropdown-toggle(href="#" role="button" id="dropdown-m5" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false") <i class="icz icz-shop"></i>Cửa hàng
			.dropdown-menu(aria-labelledby="dropdown-m5")
				ul
					li
						a(href="#!") Broadcast 1
					li
						a(href="#!") Broadcast 2
		li.dropdown
			a.dropdown-toggle(href="#" role="button" id="dropdown-m6" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false") <i class="icz icz-fill-goal"></i>Quảng cáo
			.dropdown-menu(aria-labelledby="dropdown-m6")
				ul
					li
						a(href="#!") Official Account 1
					li
						a(href="#!") Official Account 2