block header

.header-topbar.custom-header-lite
	.logo.shop
		a(href="index.html")
	.right-block.d-flex.align-items-center 
		.navbar-cash.mr-3.pr-3
			.text-content
				p.is-total 100.000.000đ
				.credit-point
					img(src="./images/icon-gift.png")
					p 200 Điểm thưởng
			a.btn.btn-primary.btn--l Nạp tiền
		.menu-user
			ul
				li.dropdown
					a.dropdown-toggle(href="#" role="button" id="dropdown-user" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false")
						span.user-info
							.avatar.avatar--s
								span.avatar-img(style="background-image:url(http://via.placeholder.com/200x200)")
							span.name.text-truncate Laguna Loire
					.dropdown-menu.dropdown-menu-right(aria-labelledby="dropdown-user")
						ul
							li
								a(href="#!") Thông tin cá nhân
							li
								a(href="#!") Đăng xuất