block Modal

.modal.fade(id="modal-ads" tabindex="-1" role="dialog")
	.modal-dialog.modal-xxl(role="document")
		.modal-content
			.modal-header
				h5.modal-title [Title]
				a.close(href="javascript:void(0);" data-dismiss="modal" aria-label="Close")
					i.icz.icz-close
			.modal-body
				
			.modal-footer
				a.btn.btn-outline-primary.btn--m(type="button" data-dismiss="modal") Bỏ qua
				a.btn.btn-primary.btn--m(type="button") Đồng ý
