block Modal

.modal.fade(id="modal-shipping-disconnect" tabindex="-1" role="dialog")
	.modal-dialog.modal-dialog-centered.modal-sm(role="document")
		.modal-content
			.modal-header
				h5.modal-title Thông báo
				a.close(href="javascript:void(0);" data-dismiss="modal" aria-label="Close")
					i.icz.icz-close
			.modal-body
				p.fs--m Bạn có muốn ngừng kết nối với đối tác này?
			.modal-footer
				a.btn.btn-outline-primary.btn--m(type="button" data-dismiss="modal") Bỏ qua
				a.btn.btn-primary.btn--m(type="button") Đồng ý
