block Modal

.modal.fade(id="modal-upload-image" tabindex="-1" role="dialog")
	.modal-dialog.modal-lg.modal-dialog-centered(role="document")
		.modal-content
			.modal-header
				h5.modal-title Upload ảnh
				a.close(href="javascript:void(0);" data-dismiss="modal" aria-label="Close")
					i.icz.icz-close
			.modal-body
				.upload-wrap
					span Code here
			.modal-footer
				a.btn.btn-outline-primary.btn--m(type="button" data-dismiss="modal") Bỏ qua
				a.btn.btn-primary.btn--m(type="button") Lưu
