//-survey popup
.module-balon
    .inside
        .img-container
            span.img(style="background-image: url('images/banner_khaosat2.png');")
        .desc
            h2 Khảo sát nhu cầu về tính năng chọn vị trí quảng cáo
            p Nhằm tạo điều kiện để quảng cáo nhắm đúng đối tượng hơn khi chạy Zalo Ads, chúng tôi mong muốn được lắng nghe nhu cầu của các bạn về tính năng chọn vị trí này.
            .button-wrap
                a.btn-close(href="#!") Không, cảm ơn
                a.btn-join(href="https://docs.google.com/forms/d/e/1FAIpQLSfqrGcqLKdMeFQeskLEtUy-dKYo-3a0KP-0TwN_NrUnVFx7YA/viewform" target="_blank") Khảo sát ngay
            